In [1]:
%load_ext sql
%sql sqlite:///Chinook_Sqlite.sqlite
%config SqlMagic.style = '_DEPRECATED_DEFAULT'

# Question 1

Using a subquery, find the names of all the tracks for the album "Californication".

In [13]:
%%sql

SELECT Name
FROM Track
WHERE AlbumID = (SELECT AlbumID FROM Album WHERE Title = "Californication")

 * sqlite:///Chinook_Sqlite.sqlite
Done.

[('Around The World',),
 ('Parallel Universe',),
 ('Scar Tissue',),
 ('Otherside',),
 ('Get On Top',),
 ('Californication',),
 ('Easily',),
 ('Porcelain',),
 ('Emit Remmus',),
 ('I Like Dirt',),
 ('This Velvet Glove',),
 ('Savior',),
 ('Purple Stain',),
 ('Right On Time',),
 ("Road Trippin'",)]

# Question 2

Find the total number of invoices for each customer along with the customer's full name, city and email.

In [ ]:
%%sql

SELECT 
    c.FirstName, c.LastName,
    c.City,
    c.Email,
    COUNT(i.InvoiceId) AS TotalInvoices
FROM Customer c
LEFT JOIN Invoice i ON c.CustomerId = i.CustomerId
GROUP BY c.CustomerId, c.FirstName, c.LastName, c.City, c.Email

ORDER BY TotalInvoices DESC, c.LastName, c.FirstName;

 * sqlite:///Chinook_Sqlite.sqlite
Done.

[('Roberto', 'Almeida', 'Rio de Janeiro', 'roberto.almeida@riotur.gov.br', 7),
 ('Julia', 'Barnett', 'Salt Lake City', 'jubarnett@gmail.com', 7),
 ('Camille', 'Bernard', 'Paris', 'camille.bernard@yahoo.fr', 7),
 ('Michelle', 'Brooks', 'New York', 'michelleb@aol.com', 7),
 ('Robert', 'Brown', 'Toronto', 'robbrown@shaw.ca', 7),
 ('Kathy', 'Chase', 'Reno', 'kachase@hotmail.com', 7),
 ('Richard', 'Cunningham', 'Fort Worth', 'ricunningham@hotmail.com', 7),
 ('Marc', 'Dubois', 'Lyon', 'marc.dubois@hotmail.com', 7),
 ('João', 'Fernandes', 'Lisbon', 'jfernandes@yahoo.pt', 7),
 ('Edward', 'Francis', 'Ottawa', 'edfrancis@yachoo.ca', 7),
 ('Wyatt', 'Girard', 'Bordeaux', 'wyatt.girard@yahoo.fr', 7),
 ('Luís', 'Gonçalves', 'São José dos Campos', 'luisg@embraer.com.br', 7),
 ('John', 'Gordon', 'Boston', 'johngordon22@yahoo.com', 7),
 ('Tim', 'Goyer', 'Cupertino', 'tgoyer@apple.com', 7),
 ('Patrick', 'Gray', 'Tucson', 'patrick.gray@aol.com', 7),
 ('Astrid', 'Gruber', 'Vienne', 'astrid.gruber@apple.at', 7),
 ('Diego', 'Gutiérrez', 'Buenos Aires', 'diego.gutierrez@yahoo.ar', 7),
 ('Bjørn', 'Hansen', 'Oslo', 'bjorn.hansen@yahoo.no', 7),
 ('Frank', 'Harris', 'Mountain View', 'fharris@google.com', 7),
 ('Helena', 'Holý', 'Prague', 'hholy@gmail.com', 7),
 ('Phil', 'Hughes', 'London', 'phil.hughes@gmail.com', 7),
 ('Terhi', 'Hämäläinen', 'Helsinki', 'terhi.hamalainen@apple.fi', 7),
 ('Joakim', 'Johansson', 'Stockholm', 'joakim.johansson@yahoo.se', 7),
 ('Emma', 'Jones', 'London', 'emma_jones@hotmail.com', 7),
 ('Ladislav', 'Kovács', 'Budapest', 'ladislav_kovacs@apple.hu', 7),
 ('Leonie', 'Köhler', 'Stuttgart', 'leonekohler@surfeu.de', 7),
 ('Heather', 'Leacock', 'Orlando', 'hleacock@gmail.com', 7),
 ('Dominique', 'Lefebvre', 'Paris', 'dominiquelefebvre@gmail.com', 7),
 ('Lucas', 'Mancini', 'Rome', 'lucas.mancini@yahoo.it', 7),
 ('Eduardo', 'Martins', 'São Paulo', 'eduardo@woodstock.com.br', 7),
 ('Isabelle', 'Mercier', 'Dijon', 'isabelle_mercier@apple.fr', 7),
 ('Dan', 'Miller', 'Mountain View', 'dmiller@comcast.com', 7),
 ('Aaron', 'Mitchell', 'Winnipeg', 'aaronmitchell@yahoo.ca', 7),
 ('Steve', 'Murray', 'Edinburgh ', 'steve.murray@yahoo.uk', 7),
 ('Enrique', 'Muñoz', 'Madrid', 'enrique_munoz@yahoo.es', 7),
 ('Kara', 'Nielsen', 'Copenhagen', 'kara.nielsen@jubii.dk', 7),
 ('Hugh', "O'Reilly", 'Dublin', 'hughoreilly@apple.ie', 7),
 ('Manoj', 'Pareek', 'Delhi', 'manoj.pareek@rediff.com', 7),
 ('Daan', 'Peeters', 'Brussels', 'daan_peeters@apple.be', 7),
 ('Jennifer', 'Peterson', 'Vancouver', 'jenniferp@rogers.ca', 7),
 ('Mark', 'Philips', 'Edmonton', 'mphilips12@shaw.ca', 7),
 ('Frank', 'Ralston', 'Chicago', 'fralston@gmail.com', 7),
 ('Fernanda', 'Ramos', 'Brasília', 'fernadaramos4@uol.com.br', 7),
 ('Alexandre', 'Rocha', 'São Paulo', 'alero@uol.com.br', 7),
 ('Luis', 'Rojas', 'Santiago', 'luisrojas@yahoo.cl', 7),
 ('Madalena', 'Sampaio', 'Porto', 'masampaio@sapo.pt', 7),
 ('Hannah', 'Schneider', 'Berlin', 'hannah.schneider@yahoo.de', 7),
 ('Niklas', 'Schröder', 'Berlin', 'nschroder@surfeu.de', 7),
 ('Martha', 'Silk', 'Halifax', 'marthasilk@gmail.com', 7),
 ('Jack', 'Smith', 'Redmond', 'jacksmith@microsoft.com', 7),
 ('Victor', 'Stevens', 'Madison', 'vstevens@yahoo.com', 7),
 ('Ellie', 'Sullivan', 'Yellowknife', 'ellie.sullivan@shaw.ca', 7),
 ('Mark', 'Taylor', 'Sidney', 'mark.taylor@yahoo.au', 7),
 ('François', 'Tremblay', 'Montréal', 'ftremblay@gmail.com', 7),
 ('Johannes', 'Van der Berg', 'Amsterdam', 'johavanderberg@yahoo.nl', 7),
 ('František', 'Wichterlová', 'Prague', 'frantisekw@jetbrains.com', 7),
 ('Stanisław', 'Wójcik', 'Warsaw', 'stanisław.wójcik@wp.pl', 7),
 ('Fynn', 'Zimmermann', 'Frankfurt', 'fzimmermann@yahoo.de', 7),
 ('Puja', 'Srivastava', 'Bangalore', 'puja_srivastava@yahoo.in', 6)]

# Question 3

Retrieve the track name, album, artistID, and trackID for all the albums.

In [33]:
%%sql

SELECT t.Name, a.Title, a.ArtistId, t.TrackID
FROM Album a
LEFT JOIN Track t ON a.AlbumID = t.AlbumID
WHERE a.Title = "For Those About To Rock We Salute You"

 * sqlite:///Chinook_Sqlite.sqlite
Done.

[('For Those About To Rock (We Salute You)', 'For Those About To Rock We Salute You', 1, 1),
 ('Put The Finger On You', 'For Those About To Rock We Salute You', 1, 6),
 ("Let's Get It Up", 'For Those About To Rock We Salute You', 1, 7),
 ('Inject The Venom', 'For Those About To Rock We Salute You', 1, 8),
 ('Snowballed', 'For Those About To Rock We Salute You', 1, 9),
 ('Evil Walks', 'For Those About To Rock We Salute You', 1, 10),
 ('C.O.D.', 'For Those About To Rock We Salute You', 1, 11),
 ('Breaking The Rules', 'For Those About To Rock We Salute You', 1, 12),
 ('Night Of The Long Knives', 'For Those About To Rock We Salute You', 1, 13),
 ('Spellbound', 'For Those About To Rock We Salute You', 1, 14)]

# Question 4

Retrieve a list with the managers last name, and the last name of the employees who report to him or her.

In [34]:
%%sql

SELECT e1.LastName AS ManagersLastName, e2.LastName AS WhoReportsTo
FROM Employee e1 
LEFT JOIN Employee e2 ON e1.ReportsTo = e2.EmployeeId

 * sqlite:///Chinook_Sqlite.sqlite
Done.

[('Adams', None),
 ('Edwards', 'Adams'),
 ('Peacock', 'Edwards'),
 ('Park', 'Edwards'),
 ('Johnson', 'Edwards'),
 ('Mitchell', 'Adams'),
 ('King', 'Mitchell'),
 ('Callahan', 'Mitchell')]

# Question 5

Find the name and ID of the artists who do not have albums.

In [36]:
%%sql

SELECT Name, Artist.ArtistID
FROM Artist
LEFT JOIN Album ON Album.ArtistID = Artist.ArtistID
WHERE AlbumID IS NULL

 * sqlite:///Chinook_Sqlite.sqlite
Done.

[('Milton Nascimento & Bebeto', 25),
 ('Azymuth', 26),
 ('João Gilberto', 28),
 ('Bebel Gilberto', 29),
 ('Jorge Vercilo', 30),
 ('Baby Consuelo', 31),
 ('Ney Matogrosso', 32),
 ('Luiz Melodia', 33),
 ('Nando Reis', 34),
 ('Pedro Luís & A Parede', 35),
 ('Banda Black Rio', 38),
 ('Fernanda Porto', 39),
 ('Os Cariocas', 40),
 ('A Cor Do Som', 43),
 ('Kid Abelha', 44),
 ('Sandra De Sá', 45),
 ('Hermeto Pascoal', 47),
 ('Barão Vermelho', 48),
 ('Edson, DJ Marky & DJ Patife Featuring Fernanda Porto', 49),
 ('Santana Feat. Dave Matthews', 60),
 ('Santana Feat. Everlast', 61),
 ('Santana Feat. Rob Thomas', 62),
 ('Santana Feat. Lauryn Hill & Cee-Lo', 63),
 ('Santana Feat. The Project G&B', 64),
 ('Santana Feat. Maná', 65),
 ('Santana Feat. Eagle-Eye Cherry', 66),
 ('Santana Feat. Eric Clapton', 67),
 ('Vinícius De Moraes & Baden Powell', 71),
 ('Vinícius E Qurteto Em Cy', 73),
 ('Vinícius E Odette Lara', 74),
 ('Vinicius, Toquinho & Quarteto Em Cy', 75),
 ('Motörhead & Girlschool', 107),
 ('Peter Tosh', 119),
 ('R.E.M. Feat. KRS-One', 123),
 ('Simply Red', 129),
 ('Whitesnake', 154),
 ('Christina Aguilera featuring BigElf', 160),
 ("Aerosmith & Sierra Leone's Refugee Allstars", 161),
 ('Los Lonely Boys', 162),
 ('Corinne Bailey Rae', 163),
 ('Dhani Harrison & Jakob Dylan', 164),
 ('Jackson Browne', 165),
 ('Avril Lavigne', 166),
 ('Big & Rich', 167),
 ("Youssou N'Dour", 168),
 ('Black Eyed Peas', 169),
 ('Jack Johnson', 170),
 ('Ben Harper', 171),
 ('Snow Patrol', 172),
 ('Matisyahu', 173),
 ('The Postal Service', 174),
 ('Jaguares', 175),
 ('The Flaming Lips', 176),
 ("Jack's Mannequin & Mick Fleetwood", 177),
 ('Regina Spektor', 178),
 ('Xis', 181),
 ('Nega Gizza', 182),
 ('Gustavo & Andres Veiga & Salazar', 183),
 ('Rodox', 184),
 ('Charlie Brown Jr.', 185),
 ('Pedro Luís E A Parede', 186),
 ('Los Hermanos', 187),
 ('Mundo Livre S/A', 188),
 ('Otto', 189),
 ('Instituto', 190),
 ('Nação Zumbi', 191),
 ('DJ Dolores & Orchestra Santa Massa', 192),
 ('Seu Jorge', 193),
 ('Sabotage E Instituto', 194),
 ('Stereo Maracana', 195),
 ('Academy of St. Martin in the Fields, Sir Neville Marriner & William Bennett', 239)]

# Question 6

Use a UNION to create a list of all the employee's and customer's first names and last names ordered by the last name in descending order.

In [38]:
%%sql

SELECT FirstName, LastName
FROM Customer
UNION
SELECT FirstName, LastName
FROM Employee
ORDER BY LastName DESC

 * sqlite:///Chinook_Sqlite.sqlite
Done.

[('Fynn', 'Zimmermann'),
 ('Stanisław', 'Wójcik'),
 ('František', 'Wichterlová'),
 ('Johannes', 'Van der Berg'),
 ('François', 'Tremblay'),
 ('Mark', 'Taylor'),
 ('Ellie', 'Sullivan'),
 ('Victor', 'Stevens'),
 ('Puja', 'Srivastava'),
 ('Jack', 'Smith'),
 ('Martha', 'Silk'),
 ('Niklas', 'Schröder'),
 ('Hannah', 'Schneider'),
 ('Madalena', 'Sampaio'),
 ('Luis', 'Rojas'),
 ('Alexandre', 'Rocha'),
 ('Fernanda', 'Ramos'),
 ('Frank', 'Ralston'),
 ('Mark', 'Philips'),
 ('Jennifer', 'Peterson'),
 ('Daan', 'Peeters'),
 ('Jane', 'Peacock'),
 ('Margaret', 'Park'),
 ('Manoj', 'Pareek'),
 ('Hugh', "O'Reilly"),
 ('Kara', 'Nielsen'),
 ('Enrique', 'Muñoz'),
 ('Steve', 'Murray'),
 ('Aaron', 'Mitchell'),
 ('Michael', 'Mitchell'),
 ('Dan', 'Miller'),
 ('Isabelle', 'Mercier'),
 ('Eduardo', 'Martins'),
 ('Lucas', 'Mancini'),
 ('Dominique', 'Lefebvre'),
 ('Heather', 'Leacock'),
 ('Leonie', 'Köhler'),
 ('Ladislav', 'Kovács'),
 ('Robert', 'King'),
 ('Emma', 'Jones'),
 ('Steve', 'Johnson'),
 ('Joakim', 'Johansson'),
 ('Terhi', 'Hämäläinen'),
 ('Phil', 'Hughes'),
 ('Helena', 'Holý'),
 ('Frank', 'Harris'),
 ('Bjørn', 'Hansen'),
 ('Diego', 'Gutiérrez'),
 ('Astrid', 'Gruber'),
 ('Patrick', 'Gray'),
 ('Tim', 'Goyer'),
 ('John', 'Gordon'),
 ('Luís', 'Gonçalves'),
 ('Wyatt', 'Girard'),
 ('Edward', 'Francis'),
 ('João', 'Fernandes'),
 ('Nancy', 'Edwards'),
 ('Marc', 'Dubois'),
 ('Richard', 'Cunningham'),
 ('Kathy', 'Chase'),
 ('Laura', 'Callahan'),
 ('Robert', 'Brown'),
 ('Michelle', 'Brooks'),
 ('Camille', 'Bernard'),
 ('Julia', 'Barnett'),
 ('Roberto', 'Almeida'),
 ('Andrew', 'Adams')]

# Question 7

See if there are any customers who have a different city listed in their billing city versus their customer city.

In [40]:
%%sql

SELECT Customer.City, Invoice.BillingCity
FROM Customer
LEFT JOIN Invoice ON Customer.CustomerId = Invoice.CustomerId
WHERE Customer.City <> Invoice.BillingCity

 * sqlite:///Chinook_Sqlite.sqlite
Done.

[]