In [7]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("../data/database.db")

query = "SELECT * FROM financial"
fin_df = pd.read_sql_query(query, conn)

conn.close()

fin_df.head()

,financial_id,company_id,date_of_publish,period_year,period_month,revenue_ttm,gross_profit_ttm,operating_profit_ttm,ebitda_ttm,net_income_ttm,...,current_assets,fixed_assets,long_term_debt,short_term_debt,gross_debt,net_debt,equity,eps_c,eps_q,eps_ttm
0,1,1,None,2022,3,NaN,NaN,NaN,NaN,NaN,...,1.989186e+10,1.765170e+10,7.358370e+09,2.108796e+10,8.842232e+09,6.496565e+09,9.097227e+09,2.0,2.0,NaN
1,2,1,None,2022,6,NaN,NaN,NaN,NaN,NaN,...,2.305158e+10,1.943500e+10,8.033575e+09,2.544772e+10,9.843746e+09,7.438998e+09,9.005287e+09,5.0,3.0,NaN
2,3,1,None,2022,9,NaN,NaN,NaN,NaN,NaN,...,2.703010e+10,2.123974e+10,8.793192e+09,2.869317e+10,1.074744e+10,7.298744e+09,1.078349e+10,8.0,3.0,NaN
3,4,1,None,2022,12,2.792529e+11,4.207056e+10,5.801538e+09,1.363232e+10,1.659943e+10,...,4.671791e+10,7.938305e+10,2.032255e+10,4.747106e+10,1.962585e+10,1.271510e+10,5.830735e+10,28.0,20.0,28.0
4,5,1,None,2023,3,3.480165e+11,5.163406e+10,4.009803e+09,1.459379e+10,1.650578e+10,...,3.597851e+10,4.005171e+10,1.250529e+10,3.719496e+10,1.454609e+10,1.051510e+10,2.632998e+10,2.0,2.0,28.0

In [ ]:
fin_df["current_ratio"] = fin_df["current_assets"] / fin_df["short_term_debt"]
fin_df["debt_to_equity"] = fin_df["gross_debt"] / fin_df["equity"]
fin_df["debt_to_assets"] = fin_df["gross_debt"] / (fin_df["fixed_assets"] + fin_df["current_assets"])
fin_df['debt_to_ebitda'] = fin_df['gross_debt'] / fin_df['ebitda_ttm']

fin_df["net_income_margin_ttm"] = fin_df["net_income_ttm"] / fin_df["revenue_ttm"]
fin_df["net_income_margin_q"] = fin_df["net_income_q"] / fin_df["revenue_q"]
fin_df["net_income_margin_c"] = fin_df["net_income_c"] / fin_df["revenue_c"]
fin_df["gross_profit_margin_ttm"] = fin_df["gross_profit_ttm"] / fin_df["revenue_ttm"]
fin_df["gross_profit_margin_q"] = fin_df["gross_profit_q"] / fin_df["revenue_q"]
fin_df["gross_profit_margin_c"] = fin_df["gross_profit_c"] / fin_df["revenue_c"]
fin_df["operating_margin_ttm"] = fin_df["operating_profit_ttm"] / fin_df["revenue_ttm"]
fin_df["operating_margin_q"] = fin_df["operating_profit_q"] / fin_df["revenue_q"]
fin_df["operating_margin_c"] = fin_df["operating_profit_c"] / fin_df["revenue_c"]

fin_df["roe_ttm"] = fin_df["net_income_ttm"] / fin_df["equity"]
fin_df["roe_q"] = fin_df["net_income_q"] / fin_df["equity"]
fin_df["roa_ttm"] = fin_df["net_income_ttm"] / (fin_df["fixed_assets"] + fin_df["current_assets"])
fin_df["roa_q"] = fin_df["net_income_q"] / (fin_df["fixed_assets"] + fin_df["current_assets"])
fin_df["roic_ttm"] = (fin_df['operating_profit_ttm'] * (1 - fin_df['effective_tax_rate_ttm'])) / fin_df['gross_debt'] + fin_df['equity']
fin_df['asset_turnover'] = fin_df['revenue_ttm'] / (fin_df["fixed_assets"] + fin_df["current_assets"])

fin_df = fin_df.sort_values(by=['company_id', 'period_year', 'period_month']).reset_index(drop=True)
fin_df["revenue_growth_ttm_yoy"] = (fin_df["revenue_ttm"] / fin_df.groupby('company_id')['revenue_ttm'].shift(4)) - 1
fin_df["revenue_growth_q_yoy"] = (fin_df["revenue_q"] / fin_df.groupby('company_id')['revenue_q'].shift(4)) - 1
fin_df["revenue_growth_q_qoq"] = (fin_df["revenue_q"] / fin_df.groupby('company_id')['revenue_q'].shift(1)) - 1
fin_df["net_income_growth_ttm_yoy"] = (fin_df["net_income_ttm"] / fin_df.groupby('company_id')['net_income_ttm'].shift(4)) - 1
fin_df["net_income_growth_q_yoy"] = (fin_df["net_income_q"] / fin_df.groupby('company_id')['net_income_q'].shift(4)) - 1
fin_df["net_income_growth_q_qoq"] = (fin_df["net_income_q"] / fin_df.groupby('company_id')['net_income_q'].shift(1)) - 1
fin_df["eps_growth_ttm_yoy"] = (fin_df["eps_ttm"] / fin_df.groupby('company_id')['eps_ttm'].shift(4)) - 1
fin_df["eps_growth_q_yoy"] = (fin_df["eps_q"] / fin_df.groupby('company_id')['eps_q'].shift(4)) - 1
fin_df["eps_growth_q_qoq"] = (fin_df["eps_q"] / fin_df.groupby('company_id')['eps_q'].shift(1)) - 1

ratio_df = fin_df[["company_id","period_year","period_month","date_of_publish","current_ratio","debt_to_equity","debt_to_assets","debt_to_ebitda","net_income_margin_ttm","net_income_margin_q","net_income_margin_c","gross_profit_margin_ttm","gross_profit_margin_q","gross_profit_margin_c","operating_margin_ttm","operating_margin_q","operating_margin_c","roe_ttm","roe_q","roa_ttm","roa_q","roic_ttm",'asset_turnover',"revenue_growth_ttm_yoy","revenue_growth_q_yoy","revenue_growth_q_qoq","net_income_growth_ttm_yoy","net_income_growth_q_yoy","net_income_growth_q_qoq","eps_growth_ttm_yoy","eps_growth_q_yoy","eps_growth_q_qoq"]]

ratio_df

,company_id,period_year,period_month,date_of_publish,current_ratio,debt_to_equity,debt_to_assets,net_income_margin_ttm,net_income_margin_q,net_income_margin_c,...,asset_turnover,revenue_growth_ttm_yoy,revenue_growth_q_yoy,revenue_growth_q_qoq,net_income_growth_ttm_yoy,net_income_growth_q_yoy,net_income_growth_q_qoq,eps_growth_ttm_yoy,eps_growth_q_yoy,eps_growth_q_qoq
0,1,2022,12,None,0.984135,0.336593,0.155636,0.059442,0.066772,0.059442,...,2.214519,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,2022,3,None,0.943280,0.971970,0.235519,NaN,0.049213,0.049213,...,NaN,NaN,NaN,-0.845363,NaN,NaN,-0.886027,NaN,NaN,-0.900000
2,1,2022,6,None,0.905841,1.093107,0.231691,NaN,0.049317,0.049271,...,NaN,NaN,NaN,0.249743,NaN,NaN,0.252364,NaN,NaN,0.500000
3,1,2022,9,None,0.942040,0.996657,0.222653,NaN,0.043176,0.046826,...,NaN,NaN,NaN,0.206112,NaN,NaN,0.055941,NaN,NaN,0.000000
4,1,2023,12,None,1.007119,0.320295,0.150797,0.047026,0.062859,0.047026,...,2.217214,0.698104,-0.188655,2.480835,0.343403,-0.236203,4.067665,0.321429,-0.250000,4.000000
5,1,2023,3,None,0.967295,0.552454,0.191320,0.047428,0.013016,0.013016,...,4.577344,NaN,2.517527,-0.329582,NaN,-0.069671,-0.861178,NaN,0.000000,-0.866667
6,1,2023,6,None,0.927140,0.653543,0.204317,0.045270,0.039232,0.026484,...,4.965761,NaN,1.973467,0.056444,NaN,1.365427,2.184223,NaN,1.333333,2.500000
7,1,2023,9,None,0.976182,0.638609,0.192962,0.049427,0.060450,0.040168,...,5.104443,NaN,2.238013,0.313418,NaN,3.533466,1.023767,NaN,3.333333,0.857143
8,1,2024,12,None,0.991540,0.311932,0.156778,0.035824,0.032821,0.035824,...,2.202965,0.278360,0.665896,0.790823,-0.026156,-0.130166,-0.027670,-0.027027,-0.133333,0.000000
9,1,2024,3,None,1.026877,0.320612,0.142763,0.050640,0.037375,0.037375,...,2.758320,0.498294,0.491589,-0.399730,0.599757,3.282946,-0.316459,0.571429,3.500000,-0.307692
10,1,2024,6,None,0.943128,0.343041,0.152848,0.050087,0.041185,0.039361,...,2.872073,0.386877,0.538442,0.089628,0.534442,0.615015,0.200708,0.500000,0.571429,0.222222
11,1,2024,9,None,0.970017,0.333522,0.151433,0.044813,0.030788,0.037775,...,2.280778,0.006396,-0.489930,-0.564537,-0.087560,-0.740216,-0.674466,-0.095238,-0.769231,-0.727273
12,1,2025,3,None,1.006770,0.316525,0.146801,0.031232,0.018348,0.018348,...,2.129673,0.007282,-0.381239,1.172432,-0.121828,-0.654098,0.294654,-0.111111,-0.615385,0.666667
13,1,2025,6,None,0.947958,0.339868,0.157249,0.025110,0.017535,0.017923,...,2.086795,0.182463,0.131214,0.097409,-0.413661,-0.469255,0.048812,-0.431818,-0.555556,-0.200000
14,2,2022,12,None,0.877012,1.449525,0.454539,0.152432,0.101523,0.152432,...,0.537823,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2,2022,3,None,0.730490,2.003731,0.528125,NaN,0.052096,0.052096,...,NaN,NaN,NaN,-0.516019,NaN,NaN,-0.751650,NaN,NaN,NaN
16,2,2022,6,None,0.786124,1.701475,0.469390,NaN,0.127208,0.099273,...,NaN,NaN,NaN,0.688858,NaN,NaN,3.123874,NaN,NaN,NaN
17,2,2022,9,None,0.889715,1.361104,0.437941,NaN,0.249850,0.172522,...,NaN,NaN,NaN,0.508108,NaN,NaN,1.962097,NaN,NaN,NaN
18,2,2023,12,None,0.944106,0.919188,0.400567,0.323154,0.642068,0.323154,...,0.480863,0.620978,0.653818,0.341635,2.436456,9.459335,2.447747,NaN,NaN,NaN
19,2,2023,3,None,0.874050,1.436270,0.447319,0.141544,0.053804,0.053804,...,0.570791,NaN,0.925588,-0.436487,NaN,0.988739,-0.952779,NaN,NaN,NaN
20,2,2023,6,None,0.885385,1.343928,0.423293,0.140392,0.127823,0.095804,...,0.452477,NaN,0.495547,0.311686,NaN,0.502785,2.116195,NaN,NaN,NaN
21,2,2023,9,None,1.044057,1.089619,0.393728,0.175550,0.303558,0.193717,...,0.470179,NaN,0.557911,0.570996,NaN,0.892802,2.730848,NaN,NaN,NaN
22,2,2024,12,None,1.007001,0.720486,0.350055,0.152069,0.136651,0.152069,...,0.532600,0.724278,1.182400,0.879429,-0.188591,-0.535520,-0.153947,NaN,NaN,NaN
23,2,2024,3,None,0.898961,0.836868,0.370010,0.290567,0.046985,0.046985,...,0.488500,0.624528,0.794338,-0.536688,2.334898,0.566931,-0.840698,NaN,NaN,NaN
24,2,2024,6,None,0.941003,0.763021,0.344929,0.282457,0.166185,0.113019,...,0.522612,0.669327,0.699061,0.242037,2.358547,1.208969,3.393033,NaN,NaN,NaN
25,2,2024,9,None,0.973737,0.800017,0.365646,0.261384,0.232275,0.160947,...,0.515300,0.561097,0.311808,0.212932,1.324384,0.003760,0.695305,NaN,NaN,NaN
26,2,2025,3,None,0.897330,0.749433,0.350286,0.137329,-0.010492,-0.010492,...,0.585816,0.033889,-0.443943,-0.203336,-0.066325,-1.042692,-1.035985,NaN,NaN,NaN
27,2,2025,6,None,0.919869,0.777259,0.353743,0.126507,0.115807,0.061110,...,0.573431,0.663765,0.571089,0.309045,-0.275629,2.872362,-15.449299,NaN,NaN,NaN
28,3,2022,12,None,4.440159,0.049065,0.041865,0.188185,0.383213,0.188185,...,0.305846,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,3,2022,3,None,4.718693,0.090454,0.076860,NaN,0.194662,0.194662,...,NaN,NaN,NaN,-0.494025,NaN,NaN,-0.742978,NaN,NaN,NaN
30,3,2022,6,None,4.252872,0.088553,0.074722,NaN,-0.060957,0.054672,...,NaN,NaN,NaN,0.210689,NaN,NaN,-1.379115,NaN,NaN,NaN
31,3,2022,9,None,3.395669,0.073615,0.062042,NaN,0.135162,0.089695,...,NaN,NaN,NaN,0.406579,NaN,NaN,-4.118868,NaN,NaN,NaN
32,3,2023,12,None,4.878898,0.000000,0.000000,0.217007,0.245189,0.217007,...,0.352090,0.957718,0.780456,1.066359,1.257560,0.139180,2.748463,NaN,NaN,NaN
33,3,2023,3,None,6.694236,0.010689,0.009506,0.223134,0.301487,0.301487,...,0.363012,NaN,1.263813,-0.356663,NaN,2.506124,-0.208947,NaN,NaN,NaN
34,3,2023,6,None,4.828219,0.010846,0.009444,0.223923,0.083990,0.189014,...,0.312897,NaN,1.002478,0.070927,NaN,-3.759162,-0.701653,NaN,NaN,NaN
35,3,2023,9,None,4.719732,0.000000,0.000000,0.239965,0.226654,0.204630,...,0.343049,NaN,0.951876,0.371035,NaN,2.273124,2.699835,NaN,NaN,NaN
36,3,2024,12,None,2.368593,0.091152,0.072990,0.246683,0.248178,0.246683,...,0.429059,1.150176,1.839321,2.005855,1.444212,1.873932,2.291298,NaN,NaN,NaN
37,3,2024,3,None,4.329292,0.000000,0.000000,0.199918,0.207963,0.207963,...,0.361358,0.866605,0.805006,-0.591020,0.672393,0.245080,-0.657290,NaN,NaN,NaN
38,3,2024,6,None,4.077985,0.013802,0.011785,0.249614,0.302256,0.259751,...,0.398845,0.901120,1.053583,0.218410,1.119237,6.390214,0.770847,NaN,NaN,NaN
39,3,2024,9,None,2.603385,0.095205,0.076459,0.245580,0.223431,0.245673,...,0.400777,0.834241,0.726150,0.152430,0.877162,0.701604,-0.148109,NaN,NaN,NaN
40,3,2025,3,None,1.853522,0.174877,0.129667,0.239010,0.190475,0.190475,...,0.461535,0.098708,-0.346072,0.138727,0.064533,-0.498114,-0.029237,NaN,NaN,NaN
41,3,2025,6,None,2.035962,0.158558,0.121361,0.237420,0.274682,0.235480,...,0.472435,1.228872,0.835603,0.148025,1.646983,1.424501,0.655557,NaN,NaN,NaN