In [ ]:
from skorkart import scorecard_data

# Tüm hisseler tek Excel dosyasında, her biri ayrı sheet olarak:
results = scorecard_data(
    stock_codes=["THYAO", "GARAN"],
    start_period="2019/12",
    end_period="2025/03",
    lang="tr",
    save_to_excel=False,
    merge_to_single_excel=True
)

# Kodda DataFrame'lere doğrudan hisse adıyla erişebilirsiniz:
thy_finp.nancials = results["Finp.nancials"]["THYAO"]
garan_finp.nancials = results["Finp.nancials"]["GARAN"]

# Tüm finp.nansalları dolaşmak için:
for hisse_adi, df in results["Finp.nancials"].items():
    print(f"{hisse_adi} finp.nansalları:", df.head())

İşlem tamamlandı: THYAO
İşlem tamamlandı: GARAN
Tüm işlemler başarıyla tamamlandı.
THYAO finansalları:      Tarih  Net Satışlar Çeyrek (Mln TL)  \
0  2025/03                      176712.0
1  2024/12                      193502.0
2  2024/09                      221815.0
3  2024/06                      182875.0
4  2024/03                      147238.0

   Net Satışlar (Yıllıklandırılmış) (Mln TL)  FAVÖK (Çeyrek) (Mln TL)  \
0                                   774904.0                  10167.0
1                                   745430.0                  27603.0
2                                   697545.0                  59088.0
3                                   644821.0                  34065.0
4                                   569579.0                  15500.0

   FAVÖK (Yıllıklandırılmış) (Mln TL)  \
0                            130923.0
1                            136256.0
2                            130725.0
3                            127431.0
4                            118989.0

  Net Finansal Gelirler / Giderler (Çeyrek) (Mln TL)  \
0                                           -9179.00
1                                            3141.00
2                                           -9041.00
3                                           -6195.00
4                                           -5714.00

  Net Finansal Gelirler / Giderler (Yıllıklandırılmış) (Mln TL)  \
0                                          -21274.00
1                                          -17809.00
2                                          -30279.00
3                                          -18691.00
4                                          -15806.00

  Net Kâr Çeyrek (Mln TL) Net Kâr (Yıllıklandırılmış) (Mln TL)  \
0                -1818.00                             104629.0
1                24512.00                             113378.0
2                51540.00                             182366.0
3                30395.00                             182157.0
4                 6931.00                             165516.0

   Toplam Borçlar (Mln TL)  Net Borç (Mln TL) Net İşletme Sermayesi (Mln TL)  \
0                 817510.0           328773.0                      -36032.00
1                 719594.0           275917.0                      -15363.00
2                 734978.0           282195.0                      -27423.00
3                 676076.0           235211.0                      -54033.00
4                 650455.0           248478.0                      -52253.00

   Özkaynaklar (Mln TL)  Toplam Aktifler (Mln TL) Hisse Adı
0              717346.0                 1534946.0     THYAO
1              679887.0                 1399606.0     THYAO
2              618586.0                 1353669.0     THYAO
3              557648.0                 1233843.0     THYAO
4              515404.0                 1165976.0     THYAO
GARAN finansalları:      Tarih  Takipteki Krediler  \
0  2025/03            45185.10
1  2024/12            35056.40
2  2024/09            31445.23
3  2024/06            24994.35
4  2024/03            23057.59

   Net Ücret ve Komisyon Gelirleri (Çeyrek) (Mln TL)  Krediler Büyüme (%)  \
0                                           29708.64                40.17
1                                           28496.58                47.80
2                                           25393.25                49.76
3                                           21502.08                49.87
4                                           18732.58                67.71

   Mevduat Büyüme (%)  Net Faiz Geliri Çeyrek (Mln TL)  \
0               46.01                         30427.35
1               31.63                         29611.66
2               38.69                         24880.22
3               31.33                         26195.33
4               65.61                         19662.04

   Yıllıklandırılmış Net Kâr (Mln TL)  Yıllıklanmış Faiz Gelirleri (Mln TL)  \
0                            95142.85                             563954.42
1                            92174.99                             500033.82
2                            96688.22                             432072.20
3                            97965.53                             352391.82
4                            93913.14                             277096.89

   Krediler (Mln TL)  Mevduatlar (Mln TL)  Özsermaye (Mln TL)  \
0         1644349.84           2198631.48           339526.88
1         1506148.86           1821373.26           329926.32
2         1380730.65           1735834.22           302647.61
3         1258646.78           1601676.54           279319.08
4         1173142.62           1505820.73           255334.65

   Net Kar Çeyrek (Mln TL) Hisse Adı
0                 25284.35     GARAN
1                 25241.22     GARAN
2                 22094.97     GARAN
3                 22522.31     GARAN
4                 22316.49     GARAN

In [ ]:
from isyatirimhisse import fetch_stock_data, fetch_index_data, fetch_finp.nancials
import pandas as pd

df = fetch_finp.nancials(
    symbols="THYAO",
    start_year=2025,
    end_year=2025,
    exchange="TRY",
    finp.nancial_group='1',
    save_to_excel=False
)
df.drop(['FInp.nanCIAL_ITEM_NAME_TR',"FInp.nanCIAL_ITEM_CODE"], axis=1, inplace=True)  

df_melted = df.melt(
    id_vars=['FInp.nanCIAL_ITEM_NAME_EN', 'SYMBOL'],
    var_name='Period',
    value_name='Value'
)

df_melted['Value'] = pd.to_numeric(df_melted['Value'], errors='coerce')

df_pivoted = df_melted.pivot_table(
    index=['SYMBOL', 'Period'],
    columns='FInp.nanCIAL_ITEM_NAME_EN',
    values='Value'
).reset_index()
df_pivoted.columns.name = None
df_pivoted.columns = df_pivoted.columns.str.lower().str.replace(" ","_")
list(df_pivoted.columns)

['symbol',
 'period',
 '(subtotal)',
 'adjustments_to_share_capital',
 'adjustments:',
 'assets_to_be_sold',
 'current_assets',
 'capital_expenditures_(capex)',
 'cash_net_inc._/_dec._before_for.cur._trans._dif.',
 'cash_at_the_end_of_the_quarter',
 'cash_at_the_beginning_of_the_quarter',
 'cash_from_core_operations_(+)',
 'cash_from_financial_operations',
 'cash_from_investment_operations',
 'cash_from_other_financial_operations',
 'cash_from_other_investment_operations',
 'cash_from_other_operations',
 'cash\xa0and\xa0cash\xa0equivalents',
 'change_in_cash_&_cash_equivalents',
 'change_in_financial_debt',
 'change_in_provisions',
 'change_in_working_capital',
 'continuing_operations',
 'cost_of_sales',
 'current_year_income_/(losses)',
 'discontinued_operations',
 'deferred_tax_liabilities',
 'depreciation_&_amortisation',
 'depreciation_&_amortization',
 'diluted_earnings_per_share',
 'distrubition_of_profit_(loss)',
 'dividends_paid',
 'domestic_sales',
 'earnings_before_adjustments',
 'earnings_per_share',
 'earnings_per_share_from_continuing_operations',
 'earnings_per_share_from_discontinued_operations',
 'expenses_from_interest,_fee,_premium,_commission_and_other',
 'expenses_from_other_operations_(-)',
 'export_sales',
 'fx_translation_differences',
 'financial_expenses',
 'financial_expenses_(from_other_operations)_(-)',
 'financial_income_(from_other_operations)',
 'financial_investments',
 'foreign_curr._trans.diff.cash_and_cash_benz._imp.',
 'free_cash_flow',
 'gross_profit_(loss)',
 'general_administrative_expenses_(-)',
 'goodwill',
 'gross_profit_(loss)_from_financial_operations',
 'gross_profit_(loss)_from_trade_operations',
 'income_(expenses)_of_deferred_tax',
 'income_reserves',
 'income_from_other_operations',
 'intangible_fixed_assets',
 'inventories',
 'investments_with_equity_method',
 'liabilities',
 'long_term_assets',
 'long_term_liabilities',
 'liabilities_on_assets_to_be_sold',
 'long_term_deffered_tax_assets',
 'long-term_financial_loans',
 'long-term_government_promotions_and_aids',
 'long-term_live_assets',
 'long-term_loans_from_financial_operations',
 'long-term_provisions',
 'long-term_receivables_from_financial_operations',
 'long-term_trade_payables',
 'market_value_surpluses',
 'marketing_selling_&_distrib._expenses_(-)',
 'minority_interests',
 'net_profit_after_taxes',
 'net_cash_from_operations',
 'net_fx_position',
 'net_operating_profits',
 'net_sales',
 'net_ypp_(hedge_dahil)',
 'none',
 'operating_profits',
 'operating_profit_before_changes_in_working_capital_(+)',
 'other_cash_&_cash_equivalents_change',
 'other_cash_inflow/outflow',
 'other_current_assets',
 'other_income_(expenses)',
 'other_income_(expenses)_before_operating_profits',
 'other_income_(expenses)_before_tax',
 'other_income_/_expense',
 'other_long-term_assets',
 'other_long-term_liabilities',
 'other_long-term_loans',
 'other_profit_(loss)_from_financial_operations',
 'other_profit_(loss)_from_trade_operations',
 'other_receivables',
 'other_sholders_equity_items',
 'other_short-term_financial_liabilities',
 'other_short-term_liabilities',
 'other_short-term_loans',
 'other_taxation_income_(expenses)',
 'profit_before_tax_from_continuing_operations',
 'profit_from_continuing_operations',
 'parasal_net_yabancı_para_varlık/(yükümlülük)_pozisyonu',
 'parent_shareholders_capital',
 'parent_shares',
 'premium\xa0in\xa0excess\xa0of\xa0par',
 'proceeds_from_interest,_fee,_premium,_commission_and_other',
 'profit_(loss)_from_subsidiaries',
 'profit_after_taxes_from_discontinued_operations',
 'provisions_for_retirment_pay',
 'real_estate_investments',
 'research_&_development_expenses_(-)',
 'retained_earnings_/(acc._losses)',
 'rights_issue',
 'shareholders_equity',
 'short_term_liabilities',
 'severance_payments',
 'share_capital',
 'short-term_financial_investments',
 'short-term_financial_loans',
 'short-term_government_promotions_and_aids',
 'short-term_live_assets',
 'short-term_loans_from_financial_operations',
 'short-term_other_receivables',
 'short-term_provisions',
 'short-term_receivables_from_financial_operations',
 'short-term_trade_payables',
 'short-term_trade_receivables',
 'stoklar',
 'total_assets',
 'total_liabilities_and_s.holders_equity',
 'tangible_fixed_assets',
 'taxation_liabilities_on_income_(-)',
 'taxation_on_continuing_operations',
 'taxation_on_income_(expenses)',
 'trade_receivables']

In [ ]:
import pandas as pd
import numpy as np
import sqlite3
from isyatirimhisse import fetch_finp.nancials

conn = sqlite3.connect("C:/Users/KULLANICI/Desktop/portfolio-backtest-project/data/database.db")

ticker_dict = {"THYAO":1,"BIMAS":2}

df = fetch_finp.nancials(
    symbols=list(ticker_dict.keys()),
    start_year=2025,
    end_year=2025,
    exchange="TRY",
    finp.nancial_group='1',
    save_to_excel=False
)

df.drop(['FInp.nanCIAL_ITEM_NAME_TR',"FInp.nanCIAL_ITEM_CODE"], axis=1, inplace=True)  

df_melted = df.melt(
    id_vars=['FInp.nanCIAL_ITEM_NAME_EN', 'SYMBOL'],
    var_name='Period',
    value_name='Value'
)

df_melted['Value'] = pd.to_numeric(df_melted['Value'], errors='coerce')

df_pivoted = df_melted.pivot_table(
    index=['SYMBOL', 'Period'],
    columns='FInp.nanCIAL_ITEM_NAME_EN',
    values='Value'
).reset_index()
df_pivoted.columns.name = None
df_pivoted.columns = df_pivoted.columns.str.lower().str.replace(" ","_")
df_pivoted = df_pivoted.rename(columns={'net_sales': 'revenue',"gross_profit_(loss)": "gross_profit","operating_profits":"operating_profit","net_profit_after_taxes":"net_income","long_term_liabilities":"long_term_debt","short_term_liabilities":"short_term_debt","shareholders_equity":"equity"})
df_pivoted['ebitda'] = df_pivoted['operating_profit'] + df_pivoted['depreciation_&_amortization']
df_pivoted['fixed_assets'] = df_pivoted['total_assets'] - df_pivoted['current_assets']
df_pivoted['gross_debt'] = df_pivoted['short-term_finp.nancial_loans'] + df_pivoted['long-term_finp.nancial_loans']
df_pivoted['net_debt'] = df_pivoted['gross_debt'] - df_pivoted["cash\xa0and\xa0cash\xa0equivalents"]
df_pivoted['company_id'] = df_pivoted['symbol'].map(ticker_dict)
df_pivoted["date_of_publish"] = np.np.nan

df_pivoted = df_pivoted[['company_id',"period","date_of_publish","revenue","gross_profit","operating_profit","ebitda","net_income","current_assets","fixed_assets","long_term_debt","short_term_debt","gross_debt","net_debt","equity"]]

df_pivoted.to_sql('finp.nancial', conn, if_exists='append', index=False)
conn.close()

In [2]:
df_pivoted

,company_id,period,date_of_publish,revenue,gross_profit,operating_profit,ebitda,net_income,current_assets,fixed_assets,long_term_debt,short_term_debt,gross_debt,net_debt,equity
0,2,2025/3,NaN,1.477227e+11,2.585878e+10,-1.297669e+09,4.883661e+09,2.710405e+09,1.052041e+11,1.815128e+11,4.924420e+10,1.044967e+11,4.209025e+10,3.413588e+10,1.329760e+11
1,2,2025/6,NaN,3.098349e+11,5.889611e+10,2.401768e+09,1.471529e+10,5.553111e+09,9.922073e+10,1.962433e+11,5.409232e+10,1.046679e+11,4.646131e+10,4.354015e+10,1.367039e+11
2,1,2025/3,NaN,1.767120e+11,1.173100e+10,-2.879000e+09,1.753400e+10,-1.854000e+09,3.526760e+11,1.182270e+12,4.244820e+11,3.930280e+11,5.376700e+11,4.488490e+11,7.174360e+11
3,1,2025/6,NaN,4.080360e+11,5.614600e+10,2.452900e+10,6.748200e+10,2.493500e+10,3.970760e+11,1.255513e+12,4.688030e+11,4.316660e+11,5.845920e+11,4.858010e+11,7.521200e+11

# ÇEYREKLİK VERİ YAPMA - 1 (YAVAŞ YÖNTEM)

In [ ]:
import pandas as pd
import numpy as np
import sqlite3
from isyatirimhisse import fetch_finp.nancials

ticker_dict = {"THYAO":2,"BIMAS":1}

df = fetch_finp.nancials(
    symbols=list(ticker_dict.keys()),
    start_year=2024,
    end_year=2025,
    exchange="TRY",
    finp.nancial_group='1',
    save_to_excel=False
)

df.drop(['FInp.nanCIAL_ITEM_NAME_TR',"FInp.nanCIAL_ITEM_CODE"], axis=1, inplace=True)  

df_melted = df.melt(
    id_vars=['FInp.nanCIAL_ITEM_NAME_EN', 'SYMBOL'],
    var_name='Period',
    value_name='Value'
)

df_melted['Value'] = pd.to_numeric(df_melted['Value'], errors='coerce')

df_pivoted = df_melted.pivot_table(
    index=['SYMBOL', 'Period'],
    columns='FInp.nanCIAL_ITEM_NAME_EN',
    values='Value'
).reset_index()
df_pivoted.columns.name = None
df_pivoted.columns = df_pivoted.columns.str.lower().str.replace(" ","_")
df_pivoted = df_pivoted.rename(columns={'net_sales': 'revenue',"gross_profit_(loss)": "gross_profit","operating_profits":"operating_profit","net_profit_after_taxes":"net_income","long_term_liabilities":"long_term_debt","short_term_liabilities":"short_term_debt","shareholders_equity":"equity"})
df_pivoted['ebitda'] = (df_pivoted['gross_profit'] - 
               df_pivoted['marketing_selling_&_distrib._expenses_(-)'].abs() -
               df_pivoted['general_administrative_expenses_(-)'].abs() - 
               df_pivoted['research_&_development_expenses_(-)'].abs() +
               df_pivoted['depreciation_&_amortization'])
df_pivoted['fixed_assets'] = df_pivoted['total_assets'] - df_pivoted['current_assets']
df_pivoted['gross_debt'] = (
    df_pivoted['short-term_finp.nancial_loans'] + 
    df_pivoted['long-term_finp.nancial_loans'] + 
    df_pivoted['other_short-term_finp.nancial_liabilities'] +
    df_pivoted['short-term_loans_from_finp.nancial_operations'] + 
    df_pivoted['long-term_loans_from_finp.nancial_operations']
)
df_pivoted['net_debt'] = df_pivoted['gross_debt'] - df_pivoted["cash\xa0and\xa0cash\xa0equivalents"] - df_pivoted['short-term_finp.nancial_investments']
df_pivoted['company_id'] = df_pivoted['symbol'].map(ticker_dict)
df_pivoted["date_of_publish"] = np.np.nan
df_pivoted[["period_year","period_month"]] = df_pivoted["period"].str.split("/",expand=True)
df_pivoted['period_month'] = pd.to_numeric(df_pivoted['period_month'])
df_pivoted['period_year'] = pd.to_numeric(df_pivoted['period_year'])


def quarter_finp.nancials(df):

    kalemler = ["revenue","gross_profit","operating_profit","ebitda","net_income"]

    df = df.sort_values(by=['company_id', 'period_year', 'period_month']).reset_index(drop=True)

    for kalem in kalemler:
        kalem_q = kalem + "_q" 
        for row_idx in range(len(df)): 

            if df.iloc[row_idx]["period_month"] == 3:
                df.at[row_idx,kalem_q] = df.iloc[row_idx][kalem]
            elif df.iloc[row_idx]["period_month"] in [6,9,12]:
                try:
                    prev_row = df[
                        (df["company_id"] == df.iloc[row_idx]["company_id"]) &
                        (df["period_year"] == df.iloc[row_idx]["period_year"]) &
                        (df["period_month"] == df.iloc[row_idx]["period_month"] - 3)
                    ]
                    df.at[row_idx,kalem_q] = df.iloc[row_idx][kalem] - prev_row.iloc[0][kalem]
                except IndexError:
                    df.at[row_idx,kalem_q] = np.np.nan
            else:
                df.at[row_idx,kalem_q] = np.np.nan

    return df

df_pivoted = quarter_finp.nancials(df_pivoted)


df_pivoted = df_pivoted[['company_id',"period_year","period_month","date_of_publish","revenue_q","gross_profit_q","operating_profit_q","ebitda_q","net_income_q","current_assets","fixed_assets","long_term_debt","short_term_debt","gross_debt","net_debt","equity"]]

df_pivoted

,company_id,period_year,period_month,date_of_publish,revenue_q,gross_profit_q,operating_profit_q,ebitda_q,net_income_q,current_assets,fixed_assets,long_term_debt,short_term_debt,gross_debt,net_debt,equity
0,1,2024,3,NaN,1.433081e+11,2.465973e+10,1.658360e+09,6.144589e+09,5.356072e+09,7.645432e+10,1.125850e+11,3.041031e+10,7.445325e+10,2.698775e+10,1.754948e+10,8.417579e+10
1,1,2024,6,NaN,1.561526e+11,2.621189e+10,2.904710e+08,5.307584e+09,6.431079e+09,7.409616e+10,1.264848e+11,3.264443e+10,7.856430e+10,3.065833e+10,2.596097e+10,8.937220e+10
2,1,2024,9,NaN,6.799874e+10,1.247433e+10,5.211530e+08,3.218732e+09,2.093536e+09,8.366406e+10,1.402811e+11,3.601439e+10,8.625010e+10,3.391270e+10,1.444870e+10,1.016807e+11
3,1,2024,12,NaN,2.387393e+11,4.261396e+10,3.715749e+09,1.164827e+10,7.835769e+09,8.638702e+10,1.887871e+11,4.974624e+10,8.712409e+10,4.314134e+10,3.352781e+10,1.383038e+11
4,1,2025,3,NaN,1.477227e+11,2.585878e+10,-1.297669e+09,5.282371e+09,2.710405e+09,1.052041e+11,1.815128e+11,4.924420e+10,1.044967e+11,4.209025e+10,1.860062e+10,1.329760e+11
5,1,2025,6,NaN,1.621122e+11,3.303733e+10,3.699437e+09,9.740773e+09,2.842706e+09,9.922073e+10,1.962433e+11,5.409232e+10,1.046679e+11,4.646131e+10,3.283389e+10,1.367039e+11
6,2,2024,3,NaN,1.472380e+11,1.614000e+10,1.203000e+09,1.550000e+10,6.918000e+09,2.755980e+11,8.903780e+11,3.438810e+11,3.065740e+11,4.314230e+11,2.484780e+11,5.155210e+11
7,2,2024,6,NaN,1.828750e+11,3.524600e+10,1.910400e+10,3.406500e+10,3.039100e+10,3.120300e+11,9.218130e+11,3.444830e+11,3.315930e+11,4.255880e+11,2.352110e+11,5.577670e+11
8,2,2024,9,NaN,2.218150e+11,6.093900e+10,4.504800e+10,5.908800e+10,5.152200e+10,3.388820e+11,1.014787e+12,3.869560e+11,3.480220e+11,4.949635e+11,2.821945e+11,6.186910e+11
9,2,2024,12,NaN,3.177945e+11,5.441138e+10,2.844267e+10,5.032223e+10,4.342707e+10,3.989198e+11,1.234055e+12,4.434321e+11,3.961465e+11,5.716311e+11,3.219232e+11,7.933967e+11
10,2,2025,3,NaN,1.767120e+11,1.173100e+10,-2.879000e+09,1.016700e+10,-1.854000e+09,3.526760e+11,1.182270e+12,4.244820e+11,3.930280e+11,5.376700e+11,3.287730e+11,7.174360e+11
11,2,2025,6,NaN,2.313240e+11,4.441500e+10,2.740800e+10,4.607100e+10,2.678900e+10,3.970760e+11,1.255513e+12,4.688030e+11,4.316660e+11,5.845920e+11,3.352410e+11,7.521200e+11

# shift(), diff() ve groupby() öğreneyim

In [24]:
import pandas as pd
import numpy as np

# Örnek kümülatif gelir verisi
data = {
    'Şirket': ['A', 'A', 'A', 'A', 'B', 'B', 'B', 'B'],
    'Yıl': [2023, 2023, 2023, 2023, 2024, 2024, 2024, 2024],
    'Çeyrek': [1, 2, 3, 4, 1, 2, 3, 4],
    'Kümülatif Gelir': [100, 250, 450, 700, 150, 350, 600, 900]
}

df = pd.DataFrame(data)
df

  Şirket   Yıl  Çeyrek  Kümülatif Gelir
0      A  2023       1              100
1      A  2023       2              250
2      A  2023       3              450
3      A  2023       4              700
4      B  2024       1              150
5      B  2024       2              350
6      B  2024       3              600
7      B  2024       4              900

In [ ]:
df["Çeyreklik Gelir"] = df["Kümülatif Gelir"] - df["Kümülatif Gelir"].shift(1)
df

  Şirket   Yıl  Çeyrek  Kümülatif Gelir  Çeyreklik Gelir
0      A  2023       1              100              NaN
1      A  2023       2              250            150.0
2      A  2023       3              450            200.0
3      A  2023       4              700            250.0
4      B  2024       1              150           -550.0
5      B  2024       2              350            200.0
6      B  2024       3              600            250.0
7      B  2024       4              900            300.0

In [29]:
# Her bir şirket grubu içinde kümülatif geliri bir satır kaydır
df['Önceki Kümülatif Gelir'] = df.groupby('Şirket')['Kümülatif Gelir'].shift(1)

# Çeyreklik geliri hesapla
df['Çeyreklik Gelir'] = df['Kümülatif Gelir'] - df['Önceki Kümülatif Gelir']

df

,Şirket,Yıl,Çeyrek,Kümülatif Gelir,Önceki Kümülatif Gelir,Çeyreklik Gelir
0,A,2023,1,100,NaN,NaN
1,A,2023,2,250,100.0,150.0
2,A,2023,3,450,250.0,200.0
3,A,2023,4,700,450.0,250.0
4,B,2024,1,150,NaN,NaN
5,B,2024,2,350,150.0,200.0
6,B,2024,3,600,350.0,250.0
7,B,2024,4,900,600.0,300.0

In [32]:
import pandas as pd
import numpy as np

# Örnek kümülatif gelir verisi
data = {
    'Şirket': ['A', 'A', 'A', 'A', 'B', 'B', 'B', 'B'],
    'Yıl': [2023, 2023, 2023, 2023, 2024, 2024, 2024, 2024],
    'Çeyrek': [1, 2, 3, 4, 1, 2, 3, 4],
    'Kümülatif Gelir': [100, 250, 450, 700, 150, 350, 600, 900]
}

df = pd.DataFrame(data)

df["Çeyreklik Gelir"] = df.groupby("Şirket")["Kümülatif Gelir"].diff()
df

  Şirket   Yıl  Çeyrek  Kümülatif Gelir  Çeyreklik Gelir
0      A  2023       1              100              NaN
1      A  2023       2              250            150.0
2      A  2023       3              450            200.0
3      A  2023       4              700            250.0
4      B  2024       1              150              NaN
5      B  2024       2              350            200.0
6      B  2024       3              600            250.0
7      B  2024       4              900            300.0

In [ ]:
import pandas as pd
import numpy as np

# Örnek kümülatif gelir verisi
data = {
    'Şirket': ['A', 'A', 'A', 'A','A', 'A', 'A', 'A', 'B', 'B', 'B', 'B'],
    'Yıl': [2023, 2023, 2023, 2023, 2024, 2024, 2024, 2024, 2024, 2024, 2024, 2024],
    'Çeyrek': [1, 2, 3, 4,1, 2, 3, 4, 1, 2, 3, 4],
    'Kümülatif Gelir': [100, 250, 450, 700, 200,300,350,700, 150, 350, 600, 900]
}

df = df.sort_values(by=['Şirket', 'Yıl', 'Çeyrek']).reset_index(drop=True)

df['Çeyreklik Gelir'] = np.where(
    df['Çeyrek'] == 1,
    df['Kümülatif Gelir'],
    df.groupby(['Şirket',"Yıl"])['Kümülatif Gelir'].diff()
)

df

   Şirket   Yıl  Çeyrek  Kümülatif Gelir  Çeyreklik Gelir
0       A  2023       2              250              NaN
1       A  2023       3              450            200.0
2       A  2023       4              700            250.0
3       A  2024       1              200            200.0
4       A  2024       2              300            100.0
5       A  2024       3              350             50.0
6       A  2024       4              700            350.0
7       B  2024       1              150            150.0
8       B  2024       2              350            200.0
9       B  2024       3              600            250.0
10      B  2024       4              900            300.0

# Çeyreklik veri yapma - 2 (vectorized işlemlerle)

In [ ]:
import pandas as pd
import numpy as np
import sqlite3
from isyatirimhisse import fetch_finp.nancials

ticker_dict = {"THYAO":2,"BIMAS":1}

df = fetch_finp.nancials(
    symbols=list(ticker_dict.keys()),
    start_year=2023,
    end_year=2025,
    exchange="TRY",
    finp.nancial_group='1',
    save_to_excel=False
)

df.drop(['FInp.nanCIAL_ITEM_NAME_TR',"FInp.nanCIAL_ITEM_CODE"], axis=1, inplace=True)  

df_melted = df.melt(
    id_vars=['FInp.nanCIAL_ITEM_NAME_EN', 'SYMBOL'],
    var_name='Period',
    value_name='Value'
)

df_melted['Value'] = pd.to_numeric(df_melted['Value'], errors='coerce')

df_pivoted = df_melted.pivot_table(
    index=['SYMBOL', 'Period'],
    columns='FInp.nanCIAL_ITEM_NAME_EN',
    values='Value'
).reset_index()
df_pivoted.columns.name = None
df_pivoted.columns = df_pivoted.columns.str.lower().str.replace(" ","_")
df_pivoted = df_pivoted.rename(columns={'net_sales': 'revenue',"gross_profit_(loss)": "gross_profit","operating_profits":"operating_profit","net_profit_after_taxes":"net_income","long_term_liabilities":"long_term_debt","short_term_liabilities":"short_term_debt","shareholders_equity":"equity","cash\xa0and\xa0cash\xa0equivalents":"cash_and_cash_equivalents"})
df_pivoted['ebitda'] = (df_pivoted['gross_profit'] - 
               df_pivoted['marketing_selling_&_distrib._expenses_(-)'].abs() -
               df_pivoted['general_administrative_expenses_(-)'].abs() - 
               df_pivoted['research_&_development_expenses_(-)'].abs() +
               df_pivoted['depreciation_&_amortization'])
df_pivoted['fixed_assets'] = df_pivoted['total_assets'] - df_pivoted['current_assets']
df_pivoted['gross_debt'] = (
    df_pivoted['short-term_finp.nancial_loans'] + 
    df_pivoted['long-term_finp.nancial_loans'] + 
    df_pivoted['other_short-term_finp.nancial_liabilities'] +
    df_pivoted['short-term_loans_from_finp.nancial_operations'] + 
    df_pivoted['long-term_loans_from_finp.nancial_operations']
)
df_pivoted['net_debt'] = df_pivoted['gross_debt'] - df_pivoted["cash_and_cash_equivalents"] - df_pivoted['short-term_finp.nancial_investments']
df_pivoted['company_id'] = df_pivoted['symbol'].map(ticker_dict)
df_pivoted["date_of_publish"] = np.np.nan
df_pivoted[["period_year","period_month"]] = df_pivoted["period"].str.split("/",expand=True)
df_pivoted['period_month'] = pd.to_numeric(df_pivoted['period_month'])
df_pivoted['period_year'] = pd.to_numeric(df_pivoted['period_year'])


df_pivoted = df_pivoted.sort_values(by=['company_id', 'period_year', 'period_month']).reset_index(drop=True)
kalemler = ["revenue","gross_profit","operating_profit","ebitda","net_income"]

for kalem in kalemler:
    kalem_q = kalem + "_q"
    kalem_ttm = kalem + "_ttm"


    df_pivoted[kalem_q] = np.where(
        df_pivoted['period_month'] == 3,
        df_pivoted[kalem],
        df_pivoted.groupby(['company_id',"period_year"])[kalem].diff()
    )

    df_pivoted[kalem_ttm] = df_pivoted.groupby('company_id')[kalem_q].rolling(window=4).sum().values


df_pivoted = df_pivoted[['company_id',"period_year","period_month","date_of_publish","revenue_ttm","gross_profit_ttm","operating_profit_ttm","ebitda_ttm","net_income_ttm","revenue_q","gross_profit_q","operating_profit_q","ebitda_q","net_income_q","cash_and_cash_equivalents","current_assets","fixed_assets","long_term_debt","short_term_debt","gross_debt","net_debt","equity"]]

df_pivoted

,company_id,period_year,period_month,date_of_publish,revenue_ttm,gross_profit_ttm,operating_profit_ttm,ebitda_ttm,net_income_ttm,revenue_q,...,operating_profit_q,ebitda_q,net_income_q,current_assets,fixed_assets,long_term_debt,short_term_debt,gross_debt,net_debt,equity
0,1,2023,3,NaN,NaN,NaN,NaN,NaN,NaN,9.607751e+10,...,1.100200e+07,3.266134e+09,1.250558e+09,3.597851e+10,4.005171e+10,1.250529e+10,3.719496e+10,1.454609e+10,1.051510e+10,2.632998e+10
1,1,2023,6,NaN,NaN,NaN,NaN,NaN,NaN,1.015005e+11,...,1.492079e+09,4.603347e+09,3.982056e+09,3.934852e+10,4.430060e+10,1.505714e+10,4.244076e+10,1.709096e+10,1.054108e+10,2.615122e+10
2,1,2023,9,NaN,NaN,NaN,NaN,NaN,NaN,1.333126e+11,...,4.622582e+09,8.586810e+09,8.058753e+09,5.166231e+10,4.776539e+10,1.646180e+10,5.292282e+10,1.918579e+10,8.850537e+09,3.004308e+10
3,1,2023,12,NaN,4.742004e+11,7.461878e+10,5.717514e+09,1.985372e+10,2.229972e+10,1.433098e+11,...,-4.081490e+08,3.397430e+09,9.008352e+09,7.862717e+10,1.352450e+11,3.510860e+10,7.807136e+10,3.225127e+10,2.216161e+10,1.006923e+11
4,1,2024,3,NaN,5.214310e+11,8.464737e+10,7.364872e+09,2.273218e+10,2.640523e+10,1.433081e+11,...,1.658360e+09,6.144589e+09,5.356072e+09,7.645432e+10,1.125850e+11,3.041031e+10,7.445325e+10,2.698775e+10,1.754948e+10,8.417579e+10
5,1,2024,6,NaN,5.760832e+11,9.494128e+10,6.163264e+09,2.343641e+10,2.885426e+10,1.561526e+11,...,2.904710e+08,5.307584e+09,6.431079e+09,7.409616e+10,1.264848e+11,3.264443e+10,7.856430e+10,3.065833e+10,2.596097e+10,8.937220e+10
6,1,2024,9,NaN,5.107693e+11,8.298674e+10,2.061835e+09,1.806834e+10,2.288904e+10,6.799874e+10,...,5.211530e+08,3.218732e+09,2.093536e+09,8.366406e+10,1.402811e+11,3.601439e+10,8.625010e+10,3.391270e+10,1.444870e+10,1.016807e+11
7,1,2024,12,NaN,6.061988e+11,1.059599e+11,6.185733e+09,2.631918e+10,2.171646e+10,2.387393e+11,...,3.715749e+09,1.164827e+10,7.835769e+09,8.638702e+10,1.887871e+11,4.974624e+10,8.712409e+10,4.314134e+10,3.352781e+10,1.383038e+11
8,1,2025,3,NaN,6.106133e+11,1.071590e+11,3.229704e+09,2.545696e+10,1.907079e+10,1.477227e+11,...,-1.297669e+09,5.282371e+09,2.710405e+09,1.052041e+11,1.815128e+11,4.924420e+10,1.044967e+11,4.209025e+10,1.860062e+10,1.329760e+11
9,1,2025,6,NaN,6.165729e+11,1.139844e+11,6.638670e+09,2.989015e+10,1.548242e+10,1.621122e+11,...,3.699437e+09,9.740773e+09,2.842706e+09,9.922073e+10,1.962433e+11,5.409232e+10,1.046679e+11,4.646131e+10,3.283389e+10,1.367039e+11
10,2,2023,3,NaN,NaN,NaN,NaN,NaN,NaN,8.205700e+10,...,2.151000e+09,1.190800e+10,4.415000e+09,1.515130e+11,4.627430e+11,2.496030e+11,1.733460e+11,2.747685e+11,1.736415e+11,1.913070e+11
11,2,2023,6,NaN,NaN,NaN,NaN,NaN,NaN,1.076330e+11,...,1.713900e+10,2.562300e+10,1.375800e+10,2.205670e+11,6.331250e+11,3.356870e+11,2.491200e+11,3.613620e+11,2.105350e+11,2.688850e+11
12,2,2023,9,NaN,NaN,NaN,NaN,NaN,NaN,1.690910e+11,...,4.638800e+10,5.579400e+10,5.132900e+10,2.542330e+11,6.961070e+11,3.634350e+11,2.435050e+11,3.741750e+11,1.963280e+11,3.434000e+11
13,2,2023,12,NaN,5.043980e+11,1.194460e+11,7.142500e+10,1.153970e+11,1.629980e+11,1.456170e+11,...,5.747000e+09,2.207200e+10,9.349600e+10,2.518950e+11,7.970480e+11,3.250230e+11,2.668080e+11,4.201720e+11,2.427460e+11,4.571120e+11
14,2,2024,3,NaN,5.695790e+11,1.233680e+11,7.047700e+10,1.189890e+11,1.655010e+11,1.472380e+11,...,1.203000e+09,1.550000e+10,6.918000e+09,2.755980e+11,8.903780e+11,3.438810e+11,3.065740e+11,4.314230e+11,2.484780e+11,5.155210e+11
15,2,2024,6,NaN,6.448210e+11,1.313640e+11,7.244200e+10,1.274310e+11,1.821340e+11,1.828750e+11,...,1.910400e+10,3.406500e+10,3.039100e+10,3.120300e+11,9.218130e+11,3.444830e+11,3.315930e+11,4.255880e+11,2.352110e+11,5.577670e+11
16,2,2024,9,NaN,6.975450e+11,1.351780e+11,7.110200e+10,1.307250e+11,1.823270e+11,2.218150e+11,...,4.504800e+10,5.908800e+10,5.152200e+10,3.388820e+11,1.014787e+12,3.869560e+11,3.480220e+11,4.949635e+11,2.821945e+11,6.186910e+11
17,2,2024,12,NaN,8.697225e+11,1.667364e+11,9.379767e+10,1.589752e+11,1.322581e+11,3.177945e+11,...,2.844267e+10,5.032223e+10,4.342707e+10,3.989198e+11,1.234055e+12,4.434321e+11,3.961465e+11,5.716311e+11,3.219232e+11,7.933967e+11
18,2,2025,3,NaN,8.991965e+11,1.623274e+11,8.971567e+10,1.536422e+11,1.234861e+11,1.767120e+11,...,-2.879000e+09,1.016700e+10,-1.854000e+09,3.526760e+11,1.182270e+12,4.244820e+11,3.930280e+11,5.376700e+11,3.287730e+11,7.174360e+11
19,2,2025,6,NaN,9.476455e+11,1.714964e+11,9.801967e+10,1.656482e+11,1.198841e+11,2.313240e+11,...,2.740800e+10,4.607100e+10,2.678900e+10,3.970760e+11,1.255513e+12,4.688030e+11,4.316660e+11,5.845920e+11,3.352410e+11,7.521200e+11

In [ ]:
import pandas as pd
import numpy as np
import sqlite3
from isyatirimhisse import fetch_finp.nancials

ticker_dict = {"THYAO":2,"BIMAS":1}

df = fetch_finp.nancials(
    symbols=list(ticker_dict.keys()),
    start_year=2023,
    end_year=2025,
    exchange="TRY",
    finp.nancial_group='1',
    save_to_excel=False
)

df.drop(['FInp.nanCIAL_ITEM_NAME_TR',"FInp.nanCIAL_ITEM_CODE"], axis=1, inplace=True)  

df_melted = df.melt(
    id_vars=['FInp.nanCIAL_ITEM_NAME_EN', 'SYMBOL'],
    var_name='Period',
    value_name='Value'
)

df_melted['Value'] = pd.to_numeric(df_melted['Value'], errors='coerce')

df_pivoted = df_melted.pivot_table(
    index=['SYMBOL', 'Period'],
    columns='FInp.nanCIAL_ITEM_NAME_EN',
    values='Value'
).reset_index()
df_pivoted.columns.name = None
df_pivoted.columns = df_pivoted.columns.str.lower().str.replace(" ","_")
df_pivoted = df_pivoted.rename(columns={'net_sales': 'revenue',"gross_profit_(loss)": "gross_profit","operating_profits":"operating_profit","net_profit_after_taxes":"net_income","long_term_liabilities":"long_term_debt","short_term_liabilities":"short_term_debt","shareholders_equity":"equity","cash\xa0and\xa0cash\xa0equivalents":"cash_and_cash_equivalents"})
df_pivoted['ebitda'] = (df_pivoted['gross_profit'] - 
               df_pivoted['marketing_selling_&_distrib._expenses_(-)'].abs() -
               df_pivoted['general_administrative_expenses_(-)'].abs() - 
               df_pivoted['research_&_development_expenses_(-)'].abs() +
               df_pivoted['depreciation_&_amortization'])
df_pivoted['fixed_assets'] = df_pivoted['total_assets'] - df_pivoted['current_assets']
df_pivoted['gross_debt'] = (
    df_pivoted['short-term_finp.nancial_loans'] + 
    df_pivoted['long-term_finp.nancial_loans'] + 
    df_pivoted['other_short-term_finp.nancial_liabilities'] +
    df_pivoted['short-term_loans_from_finp.nancial_operations'] + 
    df_pivoted['long-term_loans_from_finp.nancial_operations']
)
df_pivoted['net_debt'] = df_pivoted['gross_debt'] - df_pivoted["cash_and_cash_equivalents"] - df_pivoted['short-term_finp.nancial_investments']
df_pivoted['company_id'] = df_pivoted['symbol'].map(ticker_dict)
df_pivoted["date_of_publish"] = np.np.nan
df_pivoted[["period_year","period_month"]] = df_pivoted["period"].str.split("/",expand=True)
df_pivoted['period_month'] = pd.to_numeric(df_pivoted['period_month'])
df_pivoted['period_year'] = pd.to_numeric(df_pivoted['period_year'])


df_pivoted = df_pivoted.sort_values(by=['company_id', 'period_year', 'period_month']).reset_index(drop=True)
kalemler = ["revenue","gross_profit","operating_profit","ebitda","net_income"]

for kalem in kalemler:
    kalem_q = kalem + "_q"
    kalem_ttm = kalem + "_ttm"


    df_pivoted[kalem_q] = np.where(
        df_pivoted['period_month'] == 3,
        df_pivoted[kalem],
        df_pivoted.groupby(['company_id',"period_year"])[kalem].diff()
    )

    df_pivoted[kalem_ttm] = df_pivoted.groupby('company_id')[kalem_q].rolling(window=4).sum().values

list(df_pivoted.columns.unique())

['symbol',
 'period',
 '(subtotal)',
 'adjustments_to_share_capital',
 'adjustments:',
 'assets_to_be_sold',
 'current_assets',
 'capital_expenditures_(capex)',
 'cash_net_inc._/_dec._before_for.cur._trans._dif.',
 'cash_at_the_end_of_the_quarter',
 'cash_at_the_beginning_of_the_quarter',
 'cash_from_core_operations_(+)',
 'cash_from_financial_operations',
 'cash_from_investment_operations',
 'cash_from_other_financial_operations',
 'cash_from_other_investment_operations',
 'cash_from_other_operations',
 'cash_and_cash_equivalents',
 'change_in_cash_&_cash_equivalents',
 'change_in_financial_debt',
 'change_in_provisions',
 'change_in_working_capital',
 'continuing_operations',
 'cost_of_sales',
 'current_year_income_/(losses)',
 'discontinued_operations',
 'deferred_tax_liabilities',
 'depreciation_&_amortisation',
 'depreciation_&_amortization',
 'diluted_earnings_per_share',
 'distrubition_of_profit_(loss)',
 'dividends_paid',
 'domestic_sales',
 'earnings_before_adjustments',
 'earnings_per_share',
 'earnings_per_share_from_continuing_operations',
 'earnings_per_share_from_discontinued_operations',
 'expenses_from_interest,_fee,_premium,_commission_and_other',
 'expenses_from_other_operations_(-)',
 'export_sales',
 'fx_translation_differences',
 'financial_expenses',
 'financial_expenses_(from_other_operations)_(-)',
 'financial_income_(from_other_operations)',
 'financial_investments',
 'foreign_curr._trans.diff.cash_and_cash_benz._imp.',
 'free_cash_flow',
 'gross_profit',
 'general_administrative_expenses_(-)',
 'goodwill',
 'gross_profit_(loss)_from_financial_operations',
 'gross_profit_(loss)_from_trade_operations',
 'income_(expenses)_of_deferred_tax',
 'income_reserves',
 'income_from_other_operations',
 'intangible_fixed_assets',
 'inventories',
 'investments_with_equity_method',
 'liabilities',
 'long_term_assets',
 'long_term_debt',
 'liabilities_on_assets_to_be_sold',
 'long_term_deffered_tax_assets',
 'long-term_financial_loans',
 'long-term_government_promotions_and_aids',
 'long-term_live_assets',
 'long-term_loans_from_financial_operations',
 'long-term_provisions',
 'long-term_receivables_from_financial_operations',
 'long-term_trade_payables',
 'market_value_surpluses',
 'marketing_selling_&_distrib._expenses_(-)',
 'minority_interests',
 'net_income',
 'net_cash_from_operations',
 'net_fx_position',
 'net_operating_profits',
 'revenue',
 'net_ypp_(hedge_dahil)',
 'none',
 'operating_profit',
 'operating_profit_before_changes_in_working_capital_(+)',
 'other_cash_&_cash_equivalents_change',
 'other_cash_inflow/outflow',
 'other_current_assets',
 'other_income_(expenses)',
 'other_income_(expenses)_before_operating_profits',
 'other_income_(expenses)_before_tax',
 'other_income_/_expense',
 'other_long-term_assets',
 'other_long-term_liabilities',
 'other_long-term_loans',
 'other_profit_(loss)_from_financial_operations',
 'other_profit_(loss)_from_trade_operations',
 'other_receivables',
 'other_sholders_equity_items',
 'other_short-term_financial_liabilities',
 'other_short-term_liabilities',
 'other_short-term_loans',
 'other_taxation_income_(expenses)',
 'profit_before_tax_from_continuing_operations',
 'profit_from_continuing_operations',
 'parasal_net_yabancı_para_varlık/(yükümlülük)_pozisyonu',
 'parent_shareholders_capital',
 'parent_shares',
 'premium\xa0in\xa0excess\xa0of\xa0par',
 'proceeds_from_interest,_fee,_premium,_commission_and_other',
 'profit_(loss)_from_subsidiaries',
 'profit_after_taxes_from_discontinued_operations',
 'provisions_for_retirment_pay',
 'real_estate_investments',
 'research_&_development_expenses_(-)',
 'retained_earnings_/(acc._losses)',
 'rights_issue',
 'equity',
 'short_term_debt',
 'severance_payments',
 'share_capital',
 'short-term_financial_investments',
 'short-term_financial_loans',
 'short-term_government_promotions_and_aids',
 'short-term_live_assets',
 'short-term_loans_from_financial_operations',
 'short-term_other_receivables',
 'short-term_provisions',
 'short-term_receivables_from_financial_operations',
 'short-term_trade_payables',
 'short-term_trade_receivables',
 'stoklar',
 'total_assets',
 'total_liabilities_and_s.holders_equity',
 'tangible_fixed_assets',
 'taxation_liabilities_on_income_(-)',
 'taxation_on_continuing_operations',
 'taxation_on_income_(expenses)',
 'trade_receivables',
 'ebitda',
 'fixed_assets',
 'gross_debt',
 'net_debt',
 'company_id',
 'date_of_publish',
 'period_year',
 'period_month',
 'revenue_q',
 'revenue_ttm',
 'gross_profit_q',
 'gross_profit_ttm',
 'operating_profit_q',
 'operating_profit_ttm',
 'ebitda_q',
 'ebitda_ttm',
 'net_income_q',
 'net_income_ttm']

In [ ]:
from isyatirimhisse import fetch_financials

df = fetch_financials(
        symbols=["THYAO","BIMAS"],
        start_year=2023,
        end_year=2024,
        exchange="TRY",
        financial_group='1',
        save_to_excel=False
    )



df_to_save = df.copy()
mock_data_dict = df_to_save.to_dict('list')
print(mock_data_dict)

{'FINANCIAL_ITEM_CODE': ['1A', '1AA', '1AB', '1AC', '1AD', '1AE', '1AEA', '1AF', '1AG', '1AH', '1AI', '1AJ', '1AK', '1B', '1BA', '1BB', '1BBA', '1BC', '1BD', '1BE', '1BF', '1BFA', '1BFAA', '1BG', '1BGA', '1BH', '1BJ', '1BK', '1BL', '1BM', '2A', '2AA', '2AAG', '2AAGAA', '2AAGAB', '2AAGAC', '2AAGB', '2AAGC', '2AAGCA', '2AAGD', '2AAGE', '2AAGF', '2AAGG', '2AAGH', '2B', '2BA', '2BB', '2BBA', '2BBB', '2BBBA', '2BC', '2BD', '2BDA', '2BE', '2BF', '2BG', '2BH', '2N', '2O', '2OA', '2OC', '2OCA', '2OCB', '2OCC', '2OCD', '2OCE', '2OCF', '2OD', '2ODA', '2ODB', '3B', '3C', '3CA', '3CAA', '3CAB', '3CAC', '3CAD', '3CAE', '3CAF', '3CB', '3D', '3DA', '3DB', '3DC', '3DD', '3DE', '3DEA', '3DF', '3H', '3HA', '3HAA', '3HAB', '3HAC', '3HACA', '3HB', '3HC', '3HCA', '3I', '3IA', '3IB', '3IC', '3ID', '3J', '3K', '3KA', '3L', '3LA', '3LB', '3Z', '3ZD', '3ZE', '3ZF', '3ZG', '4B', '4BA', '4BB', '4BC', '4BD', '4BE', '4BEA', '4BEB', '4C', '4CA', '4CAA', '4CAB', '4CAC', '4CAD', '4CAE', '4CAF', '4CAG', '4CAH', '4CAI', '4CAJ', '4CAK', '4CB', '4CBA', '4CBB', '4CBC', '4CBD', '4CBE', '4CBF', '4CBG', '4CBH', '4CBI', '4CBJ', '4CBK', '4CBL', '1A', '1AA', '1AB', '1AC', '1AD', '1AE', '1AEA', '1AF', '1AG', '1AH', '1AI', '1AJ', '1AK', '1B', '1BA', '1BB', '1BBA', '1BC', '1BD', '1BE', '1BF', '1BFA', '1BFAA', '1BG', '1BGA', '1BH', '1BJ', '1BK', '1BL', '1BM', '2A', '2AA', '2AAG', '2AAGAA', '2AAGAB', '2AAGAC', '2AAGB', '2AAGC', '2AAGCA', '2AAGD', '2AAGE', '2AAGF', '2AAGG', '2AAGH', '2B', '2BA', '2BB', '2BBA', '2BBB', '2BBBA', '2BC', '2BD', '2BDA', '2BE', '2BF', '2BG', '2BH', '2N', '2O', '2OA', '2OC', '2OCA', '2OCB', '2OCC', '2OCD', '2OCE', '2OCF', '2OD', '2ODA', '2ODB', '3B', '3C', '3CA', '3CAA', '3CAB', '3CAC', '3CAD', '3CAE', '3CAF', '3CB', '3D', '3DA', '3DB', '3DC', '3DD', '3DE', '3DEA', '3DF', '3H', '3HA', '3HAA', '3HAB', '3HAC', '3HACA', '3HB', '3HC', '3HCA', '3I', '3IA', '3IB', '3IC', '3ID', '3J', '3K', '3KA', '3L', '3LA', '3LB', '3Z', '3ZD', '3ZE', '3ZF', '3ZG', '4B', '4BA', '4BB', '4BC', '4BD', '4BE', '4BEA', '4BEB', '4C', '4CA', '4CAA', '4CAB', '4CAC', '4CAD', '4CAE', '4CAF', '4CAG', '4CAH', '4CAI', '4CAJ', '4CAK', '4CB', '4CBA', '4CBB', '4CBC', '4CBD', '4CBE', '4CBF', '4CBG', '4CBH', '4CBI', '4CBJ', '4CBK', '4CBL'], 'FINANCIAL_ITEM_NAME_TR': ['Dönen Varlıklar', 'Nakit ve Nakit Benzerleri', 'Finansal Yatırımlar', 'Ticari Alacaklar', 'Finans Sektörü Faaliyetlerinden Alacaklar', 'Diğer Alacaklar', 'Müşteri Sözleşmelerinden Doğan Varlıklar', 'Stoklar', 'Canlı Varlıklar', 'Diğer Dönen Varlıklar', '(Ara Toplam)', 'Satış Amacıyla Elde Tutulan Duran Varlıklar', 'Duran Varlıklar', 'Ticari Alacaklar', 'Finans Sektörü Faaliyetlerinden Alacaklar', 'Diğer Alacaklar', 'Müşteri Sözleşmelerinden Doğan Varlıklar', 'Finansal Yatırımlar', 'Özkaynak Yöntemiyle Değerlenen Yatırımlar', 'Canlı Varlıklar', 'Yatırım Amaçlı Gayrimenkuller', 'Stoklar', 'Kullanım Hakkı Varlıkları', 'Maddi Duran Varlıklar', 'Şerefiye', 'Maddi Olmayan Duran Varlıklar', 'Ertelenmiş Vergi Varlığı', 'Diğer Duran Varlıklar', 'TOPLAM VARLIKLAR', 'KAYNAKLAR', 'Kısa Vadeli Yükümlülükler', 'Finansal Borçlar', 'Diğer Finansal Yükümlülükler', 'Ticari Borçlar', 'Diğer Borçlar', 'Müşteri Söz. Doğan Yük.', 'Finans Sektörü Faaliyetlerinden Borçlar', 'Devlet Teşvik ve Yardımları', 'Ertelenmiş Gelirler (Müşteri Söz. Doğan Yük. Dış.Kal.)', 'Dönem Karı Vergi Yükümlülüğü', 'Borç Karşılıkları', 'Diğer Kısa Vadeli Yükümlülükler', '(Ara Toplam)', 'Satış Amaçlı Elde Tutulan Duran Varlıklara İlişkin Yükümlülükler', 'Uzun Vadeli Yükümlülükler', 'Finansal Borçlar', 'Diğer Finansal Yükümlülükler', 'Ticari Borçlar', 'Diğer Borçlar', 'Müşteri Söz.Doğan Yük.', 'Finans Sektörü Faaliyetlerinden Borçlar', 'Devlet Teşvik ve Yardımları', 'Ertelenmiş Gelirler (Müşteri Söz.Doğan Yük. Dış.Kal.)', 'Uzun vadeli karşılıklar', 'Çalışanlara Sağlanan Faydalara İliş.Karş.', 'Ertelenmiş Vergi Yükümlülüğü', 'Diğer Uzun Vadeli Yükümlülükler', 'Özkaynaklar', 'Ana Ortaklığa Ait Özkaynaklar', 'Ödenmiş Sermaye', 'Karşılıklı İştirak Sermayesi Düzeltmesi (-)', 'Hisse Senedi İhraç Primleri', 'Değer Artış Fonları', 'Yabancı Para Çevrim Farkları', 'Kardan Ayrılan Kısıtlanmış Yedekler', 'Geçmiş Yıllar Kar/Zararları', 'Dönem Net Kar/Zararı', 'Diğer Özsermaye Kalemleri', 'Azınlık Payları', 'TOPLAM KAYNAKLAR', 'Sürdürülen Faaliyetler', 'Satış Gelirleri', 'Satışların Maliyeti (-)', 'Ticari Faaliyetlerden Diğer Kar (Zarar)', 'Ticari Faaliyetlerden Brüt Kar (Zarar)', 'Faiz, Ücret, Prim, Komisyon ve Diğer Gelirler', 'Faiz, Ücret, Prim, Komisyon ve Diğer Giderler (-)', 'Finans Sektörü Faaliyetlerinden Diğer Kar (Zarar)', 'Finans Sektörü Faaliyetlerinden Brüt Kar (Zarar)', 'Diğer Gelir ve Giderler', 'BRÜT KAR (ZARAR)', 'Pazarlama, Satış ve Dağıtım Giderleri (-)', 'Genel Yönetim Giderleri (-)', 'Araştırma ve Geliştirme Giderleri (-)', 'Diğer Faaliyet Gelirleri', 'Diğer Faaliyet Giderleri (-)', 'Faaliyet Karı Öncesi Diğer Gelir ve Giderler', 'FAALİYET KARI (ZARARI)', 'Net Faaliyet Kar/Zararı', 'Yatırım Faaliyetlerinden Gelirler', 'Yatırım Faaliyetlerinden Giderler (-)', 'Diğer Gelir ve Giderler', 'Özkaynak Yöntemiyle Değerlenen Yatırımların Kar/Zararlarındaki Paylar', 'Finansman Gideri Öncesi Faaliyet Karı/Zararı', '(Esas Faaliyet Dışı) Finansal Gelirler', '(Esas Faaliyet Dışı) Finansal Giderler (-)', 'Vergi Öncesi Diğer Gelir ve Giderler', 'SÜRDÜRÜLEN FAALİYETLER VERGİ ÖNCESİ KARI (ZARARI)', 'Sürdürülen Faaliyetler Vergi Geliri (Gideri)', 'Dönem Vergi Geliri (Gideri)', 'Ertelenmiş Vergi Geliri (Gideri)', 'Diğer Vergi Geliri (Gideri)', 'SÜRDÜRÜLEN FAALİYETLER DÖNEM KARI/ZARARI', 'DURDURULAN FAALİYETLER', 'Durdurulan Faaliyetler Vergi Sonrası Dönem Karı (Zararı)', 'DÖNEM KARI (ZARARI)', 'Dönem Kar/Zararının Dağılımı', 'Azınlık Payları', 'Ana Ortaklık Payları', 'Hisse Başına Kazanç', 'Seyreltilmiş Hisse Başına Kazanç', 'Sürdürülen Faaliyetlerden Hisse Başına Kazanç', 'Sürdürülen Faaliyetlerden Seyreltilmiş Hisse Başına Kazanç', 'Amortisman Giderleri', 'Kıdem Tazminatı', 'Finansman Giderleri', 'Yurtiçi Satışlar', 'Yurtdışı Satışlar', 'Net Yabancı Para Pozisyonu', 'Parasal net yabancı para varlık/(yükümlülük) pozisyonu', 'Net YPP (Hedge Dahil)', 'İşletme Faaliyetlerinden Kaynaklanan Net Nakit', 'Düzeltme Öncesi Kar', 'Düzeltmeler:', 'Amortisman & İtfa Payları', 'Karşılıklardaki Değişim', 'Diğer Gelir/ Gider', 'İşletme Sermayesinde Değişikler Öncesi Faaliyet Karı (+)', 'İşletme Sermayesindeki Değişiklikler', 'Esas Faaliyet ile İlgili Oluşan Nakit (+)', 'Diğer İşletme Faaliyetlerinden Nakit', 'Sabit Sermaye Yatırımları', 'Diğer Yatırım Faaliyetlerinden Nakit', 'Yatırım Faaliyetlerinden Kaynaklanan Nakit', 'Serbest Nakit Akım', 'Finansal Borçlardaki Değişim', 'Temettü Ödemeleri', 'Sermaye Artırımı', 'Diğer Finansman Faaliyetlerinden Nakit', 'Finansman Faaliyetlerden Kaynaklanan Nakit', 'Yab. Para Çev. Fark. Etk. Önc.Nak.Ve Nak. Benz. Net Artış/Azalış', 'Yab.ı Para Çevrim Fark. Nakit Ve Nakit Benz. Üzerindeki Etkisi', 'Diğer Nakit Girişi/Çıkışı', 'Nakit ve Benzerlerindeki Değişim', 'Diğer Nakit ve Nakit Benzerlerindeki Artış', 'Dönem Başı Nakit Değerler', 'Dönem Sonu Nakit', 'Dönen Varlıklar', 'Nakit ve Nakit Benzerleri', 'Finansal Yatırımlar', 'Ticari Alacaklar', 'Finans Sektörü Faaliyetlerinden Alacaklar', 'Diğer Alacaklar', 'Müşteri Sözleşmelerinden Doğan Varlıklar', 'Stoklar', 'Canlı Varlıklar', 'Diğer Dönen Varlıklar', '(Ara Toplam)', 'Satış Amacıyla Elde Tutulan Duran Varlıklar', 'Duran Varlıklar', 'Ticari Alacaklar', 'Finans Sektörü Faaliyetlerinden Alacaklar', 'Diğer Alacaklar', 'Müşteri Sözleşmelerinden Doğan Varlıklar', 'Finansal Yatırımlar', 'Özkaynak Yöntemiyle Değerlenen Yatırımlar', 'Canlı Varlıklar', 'Yatırım Amaçlı Gayrimenkuller', 'Stoklar', 'Kullanım Hakkı Varlıkları', 'Maddi Duran Varlıklar', 'Şerefiye', 'Maddi Olmayan Duran Varlıklar', 'Ertelenmiş Vergi Varlığı', 'Diğer Duran Varlıklar', 'TOPLAM VARLIKLAR', 'KAYNAKLAR', 'Kısa Vadeli Yükümlülükler', 'Finansal Borçlar', 'Diğer Finansal Yükümlülükler', 'Ticari Borçlar', 'Diğer Borçlar', 'Müşteri Söz. Doğan Yük.', 'Finans Sektörü Faaliyetlerinden Borçlar', 'Devlet Teşvik ve Yardımları', 'Ertelenmiş Gelirler (Müşteri Söz. Doğan Yük. Dış.Kal.)', 'Dönem Karı Vergi Yükümlülüğü', 'Borç Karşılıkları', 'Diğer Kısa Vadeli Yükümlülükler', '(Ara Toplam)', 'Satış Amaçlı Elde Tutulan Duran Varlıklara İlişkin Yükümlülükler', 'Uzun Vadeli Yükümlülükler', 'Finansal Borçlar', 'Diğer Finansal Yükümlülükler', 'Ticari Borçlar', 'Diğer Borçlar', 'Müşteri Söz.Doğan Yük.', 'Finans Sektörü Faaliyetlerinden Borçlar', 'Devlet Teşvik ve Yardımları', 'Ertelenmiş Gelirler (Müşteri Söz.Doğan Yük. Dış.Kal.)', 'Uzun vadeli karşılıklar', 'Çalışanlara Sağlanan Faydalara İliş.Karş.', 'Ertelenmiş Vergi Yükümlülüğü', 'Diğer Uzun Vadeli Yükümlülükler', 'Özkaynaklar', 'Ana Ortaklığa Ait Özkaynaklar', 'Ödenmiş Sermaye', 'Karşılıklı İştirak Sermayesi Düzeltmesi (-)', 'Hisse Senedi İhraç Primleri', 'Değer Artış Fonları', 'Yabancı Para Çevrim Farkları', 'Kardan Ayrılan Kısıtlanmış Yedekler', 'Geçmiş Yıllar Kar/Zararları', 'Dönem Net Kar/Zararı', 'Diğer Özsermaye Kalemleri', 'Azınlık Payları', 'TOPLAM KAYNAKLAR', 'Sürdürülen Faaliyetler', 'Satış Gelirleri', 'Satışların Maliyeti (-)', 'Ticari Faaliyetlerden Diğer Kar (Zarar)', 'Ticari Faaliyetlerden Brüt Kar (Zarar)', 'Faiz, Ücret, Prim, Komisyon ve Diğer Gelirler', 'Faiz, Ücret, Prim, Komisyon ve Diğer Giderler (-)', 'Finans Sektörü Faaliyetlerinden Diğer Kar (Zarar)', 'Finans Sektörü Faaliyetlerinden Brüt Kar (Zarar)', 'Diğer Gelir ve Giderler', 'BRÜT KAR (ZARAR)', 'Pazarlama, Satış ve Dağıtım Giderleri (-)', 'Genel Yönetim Giderleri (-)', 'Araştırma ve Geliştirme Giderleri (-)', 'Diğer Faaliyet Gelirleri', 'Diğer Faaliyet Giderleri (-)', 'Faaliyet Karı Öncesi Diğer Gelir ve Giderler', 'FAALİYET KARI (ZARARI)', 'Net Faaliyet Kar/Zararı', 'Yatırım Faaliyetlerinden Gelirler', 'Yatırım Faaliyetlerinden Giderler (-)', 'Diğer Gelir ve Giderler', 'Özkaynak Yöntemiyle Değerlenen Yatırımların Kar/Zararlarındaki Paylar', 'Finansman Gideri Öncesi Faaliyet Karı/Zararı', '(Esas Faaliyet Dışı) Finansal Gelirler', '(Esas Faaliyet Dışı) Finansal Giderler (-)', 'Vergi Öncesi Diğer Gelir ve Giderler', 'SÜRDÜRÜLEN FAALİYETLER VERGİ ÖNCESİ KARI (ZARARI)', 'Sürdürülen Faaliyetler Vergi Geliri (Gideri)', 'Dönem Vergi Geliri (Gideri)', 'Ertelenmiş Vergi Geliri (Gideri)', 'Diğer Vergi Geliri (Gideri)', 'SÜRDÜRÜLEN FAALİYETLER DÖNEM KARI/ZARARI', 'DURDURULAN FAALİYETLER', 'Durdurulan Faaliyetler Vergi Sonrası Dönem Karı (Zararı)', 'DÖNEM KARI (ZARARI)', 'Dönem Kar/Zararının Dağılımı', 'Azınlık Payları', 'Ana Ortaklık Payları', 'Hisse Başına Kazanç', 'Seyreltilmiş Hisse Başına Kazanç', 'Sürdürülen Faaliyetlerden Hisse Başına Kazanç', 'Sürdürülen Faaliyetlerden Seyreltilmiş Hisse Başına Kazanç', 'Amortisman Giderleri', 'Kıdem Tazminatı', 'Finansman Giderleri', 'Yurtiçi Satışlar', 'Yurtdışı Satışlar', 'Net Yabancı Para Pozisyonu', 'Parasal net yabancı para varlık/(yükümlülük) pozisyonu', 'Net YPP (Hedge Dahil)', 'İşletme Faaliyetlerinden Kaynaklanan Net Nakit', 'Düzeltme Öncesi Kar', 'Düzeltmeler:', 'Amortisman & İtfa Payları', 'Karşılıklardaki Değişim', 'Diğer Gelir/ Gider', 'İşletme Sermayesinde Değişikler Öncesi Faaliyet Karı (+)', 'İşletme Sermayesindeki Değişiklikler', 'Esas Faaliyet ile İlgili Oluşan Nakit (+)', 'Diğer İşletme Faaliyetlerinden Nakit', 'Sabit Sermaye Yatırımları', 'Diğer Yatırım Faaliyetlerinden Nakit', 'Yatırım Faaliyetlerinden Kaynaklanan Nakit', 'Serbest Nakit Akım', 'Finansal Borçlardaki Değişim', 'Temettü Ödemeleri', 'Sermaye Artırımı', 'Diğer Finansman Faaliyetlerinden Nakit', 'Finansman Faaliyetlerden Kaynaklanan Nakit', 'Yab. Para Çev. Fark. Etk. Önc.Nak.Ve Nak. Benz. Net Artış/Azalış', 'Yab.ı Para Çevrim Fark. Nakit Ve Nakit Benz. Üzerindeki Etkisi', 'Diğer Nakit Girişi/Çıkışı', 'Nakit ve Benzerlerindeki Değişim', 'Diğer Nakit ve Nakit Benzerlerindeki Artış', 'Dönem Başı Nakit Değerler', 'Dönem Sonu Nakit'], 'FINANCIAL_ITEM_NAME_EN': ['CURRENT ASSETS', 'Cash\xa0and\xa0Cash\xa0Equivalents', 'Short-Term Financial Investments', 'Short-Term Trade Receivables', 'Short-Term Receivables from Financial Operations', 'Short-Term Other Receivables', 'None', 'Inventories', 'Short-Term Live Assets', 'Other Current Assets', '(Subtotal)', 'Assets to be Sold', 'LONG TERM ASSETS', 'Trade Receivables', 'Long-Term Receivables from Financial Operations', 'Other Receivables', 'None', 'Financial Investments', 'Investments with Equity Method', 'Long-Term Live Assets', 'Real Estate Investments', 'Stoklar', 'None', 'Tangible Fixed Assets', 'Goodwill', 'Intangible Fixed Assets', 'Long Term Deffered Tax Assets', 'Other Long-Term Assets', 'TOTAL ASSETS', 'LIABILITIES', 'SHORT TERM LIABILITIES', 'Short-Term Financial Loans', 'Other Short-Term Financial Liabilities', 'Short-Term Trade Payables', 'Other Short-Term Loans', 'None', 'Short-Term Loans from Financial Operations', 'Short-Term Government Promotions and Aids', 'None', 'Taxation Liabilities on Income (-)', 'Short-Term Provisions', 'Other Short-Term Liabilities', '(Subtotal)', 'Liabilities on Assets to be Sold', 'LONG TERM LIABILITIES', 'Long-Term Financial Loans', 'Other Short-Term Financial Liabilities', 'Long-Term Trade Payables', 'Other Long-Term Loans', 'None', 'Long-Term Loans from Financial Operations', 'Long-Term Government Promotions and Aids', 'None', 'Long-Term Provisions', 'Provisions for Retirment Pay', 'Deferred Tax Liabilities', 'Other Long-Term Liabilities', 'SHAREHOLDERS EQUITY', 'Parent Shareholders Capital', 'Share Capital', 'Adjustments to Share Capital', 'Premium\xa0in\xa0Excess\xa0of\xa0Par', 'Market Value Surpluses', 'FX Translation Differences', 'Income Reserves', 'Retained Earnings /(Acc. Losses)', 'Current Year Income /(Losses)', 'Other Sholders Equity Items', 'Minority Interests', 'TOTAL LIABILITIES AND S.HOLDERS EQUITY', 'Continuing Operations', 'Net Sales', 'Cost Of Sales', 'Other Profit (Loss) from Trade Operations', 'Gross Profit (Loss) from Trade Operations', 'Proceeds from Interest, Fee, Premium, Commission and Other', 'Expenses from Interest, Fee, Premium, Commission and Other', 'Other Profit (Loss) from Financial Operations', 'Gross Profit (Loss) from Financial Operations', 'Other Income (Expenses)', 'GROSS PROFIT (LOSS)', 'Marketing Selling & Distrib. Expenses (-)', 'General Administrative Expenses (-)', 'Research & Development Expenses (-)', 'Income from Other Operations', 'Expenses from Other Operations (-)', 'Other Income (Expenses) Before Operating Profits', 'OPERATING PROFITS', 'Net Operating Profits', 'None', 'None', 'None', 'Profit (Loss) from Subsidiaries', 'None', 'Financial Income (from Other Operations)', 'Financial Expenses (from Other Operations) (-)', 'Other Income (Expenses) Before Tax', 'PROFIT BEFORE TAX FROM CONTINUING OPERATIONS', 'Taxation on Continuing Operations', 'Taxation on Income (Expenses)', 'Income (Expenses) of Deferred Tax', 'Other Taxation Income (Expenses)', 'PROFIT FROM CONTINUING OPERATIONS', 'DISCONTINUED OPERATIONS', 'Profit After Taxes from Discontinued Operations', 'NET PROFIT AFTER TAXES', 'Distrubition of Profit (Loss)', 'Minority Interests', 'Parent Shares', 'Earnings per Share', 'Diluted Earnings per Share', 'Earnings per Share from Continuing Operations', 'Earnings per Share from Discontinued Operations', 'Depreciation & Amortization', 'Severance Payments', 'Financial Expenses', 'Domestic Sales', 'Export Sales', 'Net Fx Position', 'Parasal net yabancı para varlık/(yükümlülük) pozisyonu', 'Net YPP (Hedge Dahil)', 'Net Cash from Operations', 'Earnings Before Adjustments', 'Adjustments:', 'Depreciation & Amortisation', 'Change in Provisions', 'Other Income / Expense', 'Operating Profit Before Changes in Working Capital (+)', 'Change in Working Capital', 'Cash from Core Operations (+)', 'Cash from Other Operations', 'Capital Expenditures (CapEx)', 'Cash from Other Investment Operations', 'Cash from Investment Operations', 'Free Cash Flow', 'Change in Financial Debt', 'Dividends Paid', 'Rights Issue', 'Cash from Other Financial Operations', 'Cash from Financial Operations', 'Cash Net Inc. / Dec. before For.Cur. Trans. Dif.', 'Foreign Curr. Trans.Diff.Cash and Cash Benz. Imp.', 'Other Cash Inflow/Outflow', 'Change in Cash & Cash Equivalents', 'Other Cash & Cash Equivalents Change', 'Cash at the beginning of the Quarter', 'Cash at the End of the Quarter', 'CURRENT ASSETS', 'Cash\xa0and\xa0Cash\xa0Equivalents', 'Short-Term Financial Investments', 'Short-Term Trade Receivables', 'Short-Term Receivables from Financial Operations', 'Short-Term Other Receivables', 'None', 'Inventories', 'Short-Term Live Assets', 'Other Current Assets', '(Subtotal)', 'Assets to be Sold', 'LONG TERM ASSETS', 'Trade Receivables', 'Long-Term Receivables from Financial Operations', 'Other Receivables', 'None', 'Financial Investments', 'Investments with Equity Method', 'Long-Term Live Assets', 'Real Estate Investments', 'Stoklar', 'None', 'Tangible Fixed Assets', 'Goodwill', 'Intangible Fixed Assets', 'Long Term Deffered Tax Assets', 'Other Long-Term Assets', 'TOTAL ASSETS', 'LIABILITIES', 'SHORT TERM LIABILITIES', 'Short-Term Financial Loans', 'Other Short-Term Financial Liabilities', 'Short-Term Trade Payables', 'Other Short-Term Loans', 'None', 'Short-Term Loans from Financial Operations', 'Short-Term Government Promotions and Aids', 'None', 'Taxation Liabilities on Income (-)', 'Short-Term Provisions', 'Other Short-Term Liabilities', '(Subtotal)', 'Liabilities on Assets to be Sold', 'LONG TERM LIABILITIES', 'Long-Term Financial Loans', 'Other Short-Term Financial Liabilities', 'Long-Term Trade Payables', 'Other Long-Term Loans', 'None', 'Long-Term Loans from Financial Operations', 'Long-Term Government Promotions and Aids', 'None', 'Long-Term Provisions', 'Provisions for Retirment Pay', 'Deferred Tax Liabilities', 'Other Long-Term Liabilities', 'SHAREHOLDERS EQUITY', 'Parent Shareholders Capital', 'Share Capital', 'Adjustments to Share Capital', 'Premium\xa0in\xa0Excess\xa0of\xa0Par', 'Market Value Surpluses', 'FX Translation Differences', 'Income Reserves', 'Retained Earnings /(Acc. Losses)', 'Current Year Income /(Losses)', 'Other Sholders Equity Items', 'Minority Interests', 'TOTAL LIABILITIES AND S.HOLDERS EQUITY', 'Continuing Operations', 'Net Sales', 'Cost Of Sales', 'Other Profit (Loss) from Trade Operations', 'Gross Profit (Loss) from Trade Operations', 'Proceeds from Interest, Fee, Premium, Commission and Other', 'Expenses from Interest, Fee, Premium, Commission and Other', 'Other Profit (Loss) from Financial Operations', 'Gross Profit (Loss) from Financial Operations', 'Other Income (Expenses)', 'GROSS PROFIT (LOSS)', 'Marketing Selling & Distrib. Expenses (-)', 'General Administrative Expenses (-)', 'Research & Development Expenses (-)', 'Income from Other Operations', 'Expenses from Other Operations (-)', 'Other Income (Expenses) Before Operating Profits', 'OPERATING PROFITS', 'Net Operating Profits', 'None', 'None', 'None', 'Profit (Loss) from Subsidiaries', 'None', 'Financial Income (from Other Operations)', 'Financial Expenses (from Other Operations) (-)', 'Other Income (Expenses) Before Tax', 'PROFIT BEFORE TAX FROM CONTINUING OPERATIONS', 'Taxation on Continuing Operations', 'Taxation on Income (Expenses)', 'Income (Expenses) of Deferred Tax', 'Other Taxation Income (Expenses)', 'PROFIT FROM CONTINUING OPERATIONS', 'DISCONTINUED OPERATIONS', 'Profit After Taxes from Discontinued Operations', 'NET PROFIT AFTER TAXES', 'Distrubition of Profit (Loss)', 'Minority Interests', 'Parent Shares', 'Earnings per Share', 'Diluted Earnings per Share', 'Earnings per Share from Continuing Operations', 'Earnings per Share from Discontinued Operations', 'Depreciation & Amortization', 'Severance Payments', 'Financial Expenses', 'Domestic Sales', 'Export Sales', 'Net Fx Position', 'Parasal net yabancı para varlık/(yükümlülük) pozisyonu', 'Net YPP (Hedge Dahil)', 'Net Cash from Operations', 'Earnings Before Adjustments', 'Adjustments:', 'Depreciation & Amortisation', 'Change in Provisions', 'Other Income / Expense', 'Opera

In [10]:
import pandas as pd
import numpy as np
import sqlite3
import os
import json
from isyatirimhisse import fetch_financials


def fetch_fin(conn,ticker_dict: dict,start_year,end_year):

    ticker_dict  = {key.replace('.IS', ''): value for key, value in ticker_dict.items()}

    tickers = list(ticker_dict.keys())

    try:
        df = fetch_financials(
            symbols=tickers,
            start_year=start_year,
            end_year=end_year,
            exchange="TRY",
            financial_group='1',
            save_to_excel=False
        )
    except Exception as e: 
        print(f"Hata: Veri çekilemedi. Bağlantı sorunu olabilir. Hata detayları: {e}")
        return pd.DataFrame()

    if df.empty:
        return pd.DataFrame()

    df.drop(['FINANCIAL_ITEM_NAME_TR',"FINANCIAL_ITEM_CODE"], axis=1, inplace=True)  

    df_melted = df.melt(
        id_vars=['FINANCIAL_ITEM_NAME_EN', 'SYMBOL'],
        var_name='Period',
        value_name='Value'
    )

    df_melted['Value'] = pd.to_numeric(df_melted['Value'], errors='coerce')

    df_pivoted = df_melted.pivot_table(
        index=['SYMBOL', 'Period'],
        columns='FINANCIAL_ITEM_NAME_EN',
        values='Value'
    ).reset_index()
    df_pivoted.columns.name = None
    df_pivoted.columns = df_pivoted.columns.str.lower().str.replace(" ","_")
    df_pivoted = df_pivoted.rename(columns={'net_sales': 'revenue_c',"gross_profit_(loss)": "gross_profit_c","operating_profits":"operating_profit_c","net_profit_after_taxes":"net_income_c","long_term_liabilities":"long_term_debt","short_term_liabilities":"short_term_debt","shareholders_equity":"equity","taxation_on_continuing_operations":"taxation_on_continuing_operations_c","profit_before_tax_from_continuing_operations":"profit_before_tax_from_continuing_operations_c","diluted_earnings_per_share":"eps_c","cash\xa0and\xa0cash\xa0equivalents":"cash_and_cash_equivalents","dividends_paid":"dividend_c"})
    df_pivoted['ebitda_c'] = (df_pivoted['gross_profit_c'] - 
                df_pivoted['marketing_selling_&_distrib._expenses_(-)'].abs() -
                df_pivoted['general_administrative_expenses_(-)'].abs() - 
                df_pivoted['research_&_development_expenses_(-)'].abs() +
                df_pivoted['depreciation_&_amortization'])
    df_pivoted['fixed_assets'] = df_pivoted['total_assets'] - df_pivoted['current_assets']
    df_pivoted['gross_debt'] = (
        df_pivoted['short-term_financial_loans'] + 
        df_pivoted['long-term_financial_loans'] + 
        df_pivoted['other_short-term_financial_liabilities'] +
        df_pivoted['short-term_loans_from_financial_operations'] + 
        df_pivoted['long-term_loans_from_financial_operations']
    )
    df_pivoted['net_debt'] = df_pivoted['gross_debt'] - df_pivoted["cash_and_cash_equivalents"] - df_pivoted['short-term_financial_investments']
    df_pivoted['company_id'] = df_pivoted['symbol'].map(ticker_dict)
    df_pivoted["date_of_publish"] = np.nan
    df_pivoted[["period_year","period_month"]] = df_pivoted["period"].str.split("/",expand=True)
    df_pivoted['period_month'] = pd.to_numeric(df_pivoted['period_month'])
    df_pivoted['period_year'] = pd.to_numeric(df_pivoted['period_year'])

    df_pivoted = df_pivoted.drop_duplicates(subset=["period_year","period_month", "company_id"], keep="last")

    df_pivoted = df_pivoted.sort_values(by=['company_id', 'period_year', 'period_month']).reset_index(drop=True)
    kalemler = ["revenue","gross_profit","operating_profit","ebitda","net_income","taxation_on_continuing_operations","profit_before_tax_from_continuing_operations","eps","dividend"]

    for kalem in kalemler:
        kalem_q = kalem + "_q"
        kalem_c = kalem + "_c"
        kalem_ttm = kalem + "_ttm"

        df_pivoted[kalem_q] = np.where(
            df_pivoted['period_month'] == 3,
            df_pivoted[kalem_c],
            df_pivoted.groupby(['company_id',"period_year"])[kalem_c].diff()
        )

        df_pivoted[kalem_ttm] = df_pivoted.groupby('company_id')[kalem_q].rolling(
            window=4
        ).sum().reset_index(level=0, drop=True)

    df_pivoted["effective_tax_rate_ttm"] = df_pivoted["taxation_on_continuing_operations_ttm"] + df_pivoted["profit_before_tax_from_continuing_operations_ttm"]

    df_pivoted["dividend_ttm"] = -df_pivoted["dividend_ttm"]

    df_pivoted = df_pivoted[['company_id',"period_year","period_month","date_of_publish","revenue_ttm","gross_profit_ttm","operating_profit_ttm","ebitda_ttm","net_income_ttm","revenue_q","gross_profit_q","operating_profit_q","ebitda_q","net_income_q","revenue_c","gross_profit_c","operating_profit_c","ebitda_c","net_income_c","effective_tax_rate_ttm","cash_and_cash_equivalents","current_assets","fixed_assets","long_term_debt","short_term_debt","gross_debt","net_debt","equity","eps_c","eps_q","eps_ttm","dividend_ttm"]]

    # -----------------------------------------------------------
    # Bu koyacağımız veri database'de zaten var mı ona bakacağız.
    # -----------------------------------------------------------
    if conn is not None: # bu kısım testlerde conn'un None olduğu durumları engellemek için
        try:
            # Sadece ilgili tarih aralığını DB’den çek
            query = """
            SELECT company_id,period_year,period_month
            FROM financial 
            WHERE period_year BETWEEN ? AND ?
            """
            existing_data = pd.read_sql_query(query, conn, params=[start_year, end_year])

            existing_data['period_month'] = pd.to_numeric(existing_data['period_month'])
            existing_data['period_year'] = pd.to_numeric(existing_data['period_year'])

            merged_df = df_pivoted.merge(
                existing_data,
                on=['company_id','period_year',"period_month"],
                how='left',
                indicator=True
            )

            if merged_df.empty:
                return pd.DataFrame()
            
            dups = merged_df[merged_df['_merge'] == 'both']
            if not dups.empty:
                for row in dups.itertuples(index=False, name=None):
                    company_id, p_year, p_month = row[ dups.columns.get_loc('company_id') ], row[ dups.columns.get_loc('period_year') ], row[ dups.columns.get_loc('period_month') ]
                    print(f"Uyarı: company_id {company_id} için {p_year}/{p_month} verisi zaten bulunuyor.")

            new_data_df = merged_df[merged_df['_merge'] == 'left_only'].drop(columns=['_merge'])
            new_data_df.columns = [col.replace('_x', '') if col.endswith('_x') else col for col in new_data_df.columns]
            new_data_df = new_data_df[['company_id',"period_year","period_month","date_of_publish","revenue_ttm","gross_profit_ttm","operating_profit_ttm","ebitda_ttm","net_income_ttm","revenue_q","gross_profit_q","operating_profit_q","ebitda_q","net_income_q","revenue_c","gross_profit_c","operating_profit_c","ebitda_c","net_income_c","effective_tax_rate_ttm","cash_and_cash_equivalents","current_assets","fixed_assets","long_term_debt","short_term_debt","gross_debt","net_debt","equity","eps_c","eps_q","eps_ttm","dividend_ttm"]]

        except Exception as e:
            print(f"Hata: Veritabanından mevcut veri çekilemedi. İşlem durduruldu: {e}")
            return pd.DataFrame()
    else:
        return df_pivoted

    return new_data_df.drop_duplicates(subset=["period_year","period_month", "company_id"], keep="last")

result_df = fetch_fin(conn=None,ticker_dict={"BIMAS.IS":1,"THYAO.IS":2},start_year=2024,end_year=2024)
bimas_2024_q1_revenue_c = result_df[(result_df["company_id"]==1) & (result_df["period_month"]==3)]["revenue_c"]
#float(bimas_2024_q1_revenue_c.iloc[0])
result_df

,company_id,period_year,period_month,date_of_publish,revenue_ttm,gross_profit_ttm,operating_profit_ttm,ebitda_ttm,net_income_ttm,revenue_q,...,fixed_assets,long_term_debt,short_term_debt,gross_debt,net_debt,equity,eps_c,eps_q,eps_ttm,dividend_ttm
0,1,2024,3,NaN,NaN,NaN,NaN,NaN,NaN,1.433081e+11,...,1.125850e+11,3.041031e+10,7.445325e+10,2.698775e+10,1.754948e+10,8.417579e+10,9.0,9.0,NaN,NaN
1,1,2024,6,NaN,NaN,NaN,NaN,NaN,NaN,1.561526e+11,...,1.264848e+11,3.264443e+10,7.856430e+10,3.065833e+10,2.596097e+10,8.937220e+10,20.0,11.0,NaN,NaN
2,1,2024,9,NaN,NaN,NaN,NaN,NaN,NaN,6.799874e+10,...,1.402811e+11,3.601439e+10,8.625010e+10,3.391270e+10,1.444870e+10,1.016807e+11,23.0,3.0,NaN,NaN
3,1,2024,12,NaN,6.061988e+11,1.059599e+11,6.185733e+09,2.631918e+10,2.171646e+10,2.387393e+11,...,1.887871e+11,4.974624e+10,8.712409e+10,4.314134e+10,3.352781e+10,1.383038e+11,36.0,13.0,36.0,8.374857e+09
4,2,2024,3,NaN,NaN,NaN,NaN,NaN,NaN,1.472380e+11,...,8.903780e+11,3.438810e+11,3.065740e+11,4.314230e+11,2.484780e+11,5.155210e+11,0.0,0.0,NaN,NaN
5,2,2024,6,NaN,NaN,NaN,NaN,NaN,NaN,1.828750e+11,...,9.218130e+11,3.444830e+11,3.315930e+11,4.255880e+11,2.352110e+11,5.577670e+11,0.0,0.0,NaN,NaN
6,2,2024,9,NaN,NaN,NaN,NaN,NaN,NaN,2.218150e+11,...,1.014787e+12,3.869560e+11,3.480220e+11,4.949635e+11,2.821945e+11,6.186910e+11,0.0,0.0,NaN,NaN
7,2,2024,12,NaN,8.697225e+11,1.667364e+11,9.379767e+10,1.589752e+11,1.322581e+11,3.177945e+11,...,1.234055e+12,4.434321e+11,3.961465e+11,5.716311e+11,3.219232e+11,7.933967e+11,0.0,0.0,0.0,-0.000000e+00

In [7]:
df_to_save = df.copy()
mock_data_dict = df_to_save.to_dict('list')
print(mock_data_dict)

{'company_id': [1, 1, 1, 1, 2, 2, 2, 2], 'period_year': [2024, 2024, 2024, 2024, 2024, 2024, 2024, 2024], 'period_month': [3, 6, 9, 12, 3, 6, 9, 12], 'date_of_publish': [nan, nan, nan, nan, nan, nan, nan, nan], 'revenue_ttm': [nan, nan, nan, 606198812048.0, nan, nan, nan, 869722479782.0], 'gross_profit_ttm': [nan, nan, nan, 105959920930.0, nan, nan, nan, 166736380533.0], 'operating_profit_ttm': [nan, nan, nan, 6185733273.0, nan, nan, nan, 93797672910.0], 'ebitda_ttm': [nan, nan, nan, 26319175724.0, nan, nan, nan, 158975230679.0], 'net_income_ttm': [nan, nan, nan, 21716455671.0, nan, nan, nan, 132258067345.0], 'revenue_q': [143308140000.0, 156152615000.0, 67998736000.0, 238739321048.0, 147238000000.0, 182875000000.0, 221815000000.0, 317794479782.0], 'gross_profit_q': [24659733000.0, 26211893000.0, 12474332000.0, 42613962930.0, 16140000000.0, 35246000000.0, 60939000000.0, 54411380533.0], 'operating_profit_q': [1658360000.0, 290471000.0, 521153000.0, 3715749273.0, 1203000000.0, 19104000000.0, 45048000000.0, 28442672910.0], 'ebitda_q': [6144589000.0, 5307584000.0, 3218732000.0, 11648270724.0, 15500000000.0, 34065000000.0, 59088000000.0, 50322230679.0], 'net_income_q': [5356072000.0, 6431079000.0, 2093536000.0, 7835768671.0, 6918000000.0, 30391000000.0, 51522000000.0, 43427067345.0], 'revenue_c': [143308140000.0, 299460755000.0, 367459491000.0, 606198812048.0, 147238000000.0, 330113000000.0, 551928000000.0, 869722479782.0], 'gross_profit_c': [24659733000.0, 50871626000.0, 63345958000.0, 105959920930.0, 16140000000.0, 51386000000.0, 112325000000.0, 166736380533.0], 'operating_profit_c': [1658360000.0, 1948831000.0, 2469984000.0, 6185733273.0, 1203000000.0, 20307000000.0, 65355000000.0, 93797672910.0], 'ebitda_c': [6144589000.0, 11452173000.0, 14670905000.0, 26319175724.0, 15500000000.0, 49565000000.0, 108653000000.0, 158975230679.0], 'net_income_c': [5356072000.0, 11787151000.0, 13880687000.0, 21716455671.0, 6918000000.0, 37309000000.0, 88831000000.0, 132258067345.0], 'effective_tax_rate_ttm': [nan, nan, nan, 21716455671.0, nan, nan, nan, 132258067344.0], 'cash_and_cash_equivalents': [4814298000.0, 4697364000.0, 2849389000.0, 3284494817.0, 27162000000.0, 33184000000.0, 62644000000.0, 111997639321.0], 'current_assets': [76454320000.0, 74096158000.0, 83664064000.0, 86387017377.0, 275598000000.0, 312030000000.0, 338882000000.0, 398919835615.0], 'fixed_assets': [112585033000.0, 126484779000.0, 140281137000.0, 188787065012.0, 890378000000.0, 921813000000.0, 1014787000000.0, 1234055495454.0], 'long_term_debt': [30410306000.0, 32644433000.0, 36014393000.0, 49746239226.0, 343881000000.0, 344483000000.0, 386956000000.0, 443432106822.0], 'short_term_debt': [74453253000.0, 78564303000.0, 86250102000.0, 87124085098.0, 306574000000.0, 331593000000.0, 348022000000.0, 396146496288.0], 'gross_debt': [26987751000.0, 30658331000.0, 33912705000.0, 43141338524.0, 431423000000.0, 425588000000.0, 494963500000.0, 571631088127.0], 'net_debt': [17549478000.0, 25960967000.0, 14448705000.0, 33527813846.0, 248478000000.0, 235211000000.0, 282194500000.0, 321923208691.0], 'equity': [84175794000.0, 89372201000.0, 101680706000.0, 138303758065.0, 515521000000.0, 557767000000.0, 618691000000.0, 793396727958.0], 'eps_c': [9.0, 20.0, 23.0, 36.0, 0.0, 0.0, 0.0, 0.0], 'eps_q': [9.0, 11.0, 3.0, 13.0, 0.0, 0.0, 0.0, 0.0], 'eps_ttm': [nan, nan, nan, 36.0, nan, nan, nan, 0.0], 'dividend_ttm': [nan, nan, nan, 8374857061.0, nan, nan, nan, -0.0]}

In [ ]:
{'company_id': [1, 1, 1, 1, 2, 2, 2, 2], 'period_year': [2024, 2024, 2024, 2024, 2024, 2024, 2024, 2024], 'period_month': [3, 6, 9, 12, 3, 6, 9, 12], 'date_of_publish': [np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan], 'revenue_ttm': [np.nan, np.nan, np.nan, 606198812048.0, np.nan, np.nan, np.nan, 869722479782.0], 'gross_profit_ttm': [np.nan, np.nan, np.nan, 105959920930.0, np.nan, np.nan, np.nan, 166736380533.0], 'operating_profit_ttm': [np.nan, np.nan, np.nan, 6185733273.0, np.nan, np.nan, np.nan, 93797672910.0], 'ebitda_ttm': [np.nan, np.nan, np.nan, 26319175724.0, np.nan, np.nan, np.nan, 158975230679.0], 'net_income_ttm': [np.nan, np.nan, np.nan, 21716455671.0, np.nan, np.nan, np.nan, 132258067345.0], 'revenue_q': [143308140000.0, 156152615000.0, 67998736000.0, 238739321048.0, 147238000000.0, 182875000000.0, 221815000000.0, 317794479782.0], 'gross_profit_q': [24659733000.0, 26211893000.0, 12474332000.0, 42613962930.0, 16140000000.0, 35246000000.0, 60939000000.0, 54411380533.0], 'operating_profit_q': [1658360000.0, 290471000.0, 521153000.0, 3715749273.0, 1203000000.0, 19104000000.0, 45048000000.0, 28442672910.0], 'ebitda_q': [6144589000.0, 5307584000.0, 3218732000.0, 11648270724.0, 15500000000.0, 34065000000.0, 59088000000.0, 50322230679.0], 'net_income_q': [5356072000.0, 6431079000.0, 2093536000.0, 7835768671.0, 6918000000.0, 30391000000.0, 51522000000.0, 43427067345.0], 'revenue_c': [143308140000.0, 299460755000.0, 367459491000.0, 606198812048.0, 147238000000.0, 330113000000.0, 551928000000.0, 869722479782.0], 'gross_profit_c': [24659733000.0, 50871626000.0, 63345958000.0, 105959920930.0, 16140000000.0, 51386000000.0, 112325000000.0, 166736380533.0], 'operating_profit_c': [1658360000.0, 1948831000.0, 2469984000.0, 6185733273.0, 1203000000.0, 20307000000.0, 65355000000.0, 93797672910.0], 'ebitda_c': [6144589000.0, 11452173000.0, 14670905000.0, 26319175724.0, 15500000000.0, 49565000000.0, 108653000000.0, 158975230679.0], 'net_income_c': [5356072000.0, 11787151000.0, 13880687000.0, 21716455671.0, 6918000000.0, 37309000000.0, 88831000000.0, 132258067345.0], 'effective_tax_rate_ttm': [np.nan, np.nan, np.nan, 21716455671.0, np.nan, np.nan, np.nan, 132258067344.0], 'cash_and_cash_equivalents': [4814298000.0, 4697364000.0, 2849389000.0, 3284494817.0, 27162000000.0, 33184000000.0, 62644000000.0, 111997639321.0], 'current_assets': [76454320000.0, 74096158000.0, 83664064000.0, 86387017377.0, 275598000000.0, 312030000000.0, 338882000000.0, 398919835615.0], 'fixed_assets': [112585033000.0, 126484779000.0, 140281137000.0, 188787065012.0, 890378000000.0, 921813000000.0, 1014787000000.0, 1234055495454.0], 'long_term_debt': [30410306000.0, 32644433000.0, 36014393000.0, 49746239226.0, 343881000000.0, 344483000000.0, 386956000000.0, 443432106822.0], 'short_term_debt': [74453253000.0, 78564303000.0, 86250102000.0, 87124085098.0, 306574000000.0, 331593000000.0, 348022000000.0, 396146496288.0], 'gross_debt': [26987751000.0, 30658331000.0, 33912705000.0, 43141338524.0, 431423000000.0, 425588000000.0, 494963500000.0, 571631088127.0], 'net_debt': [17549478000.0, 25960967000.0, 14448705000.0, 33527813846.0, 248478000000.0, 235211000000.0, 282194500000.0, 321923208691.0], 'equity': [84175794000.0, 89372201000.0, 101680706000.0, 138303758065.0, 515521000000.0, 557767000000.0, 618691000000.0, 793396727958.0], 'eps_c': [9.0, 20.0, 23.0, 36.0, 0.0, 0.0, 0.0, 0.0], 'eps_q': [9.0, 11.0, 3.0, 13.0, 0.0, 0.0, 0.0, 0.0], 'eps_ttm': [np.nan, np.nan, np.nan, 36.0, np.nan, np.nan, np.nan, 0.0], 'dividend_ttm': [np.nan, np.nan, np.nan, 8374857061.0, np.nan, np.nan, np.nan, -0.0]}