In [3]:
from skorkart import scorecard_data

# Tüm hisseler tek Excel dosyasında, her biri ayrı sheet olarak:
results = scorecard_data(
    stock_codes=["THYAO", "GARAN"],
    start_period="2019/12",
    end_period="2025/03",
    lang="tr",
    save_to_excel=False,
    merge_to_single_excel=True
)

# Kodda DataFrame'lere doğrudan hisse adıyla erişebilirsiniz:
thy_financials = results["Financials"]["THYAO"]
garan_financials = results["Financials"]["GARAN"]

# Tüm finansalları dolaşmak için:
for hisse_adi, df in results["Financials"].items():
    print(f"{hisse_adi} finansalları:", df.head())

İşlem tamamlandı: THYAO
İşlem tamamlandı: GARAN
Tüm işlemler başarıyla tamamlandı.
THYAO finansalları:      Tarih  Net Satışlar Çeyrek (Mln TL)  \
0  2025/03                      176712.0
1  2024/12                      193502.0
2  2024/09                      221815.0
3  2024/06                      182875.0
4  2024/03                      147238.0

   Net Satışlar (Yıllıklandırılmış) (Mln TL)  FAVÖK (Çeyrek) (Mln TL)  \
0                                   774904.0                  10167.0
1                                   745430.0                  27603.0
2                                   697545.0                  59088.0
3                                   644821.0                  34065.0
4                                   569579.0                  15500.0

   FAVÖK (Yıllıklandırılmış) (Mln TL)  \
0                            130923.0
1                            136256.0
2                            130725.0
3                            127431.0
4                            118989.0

  Net Finansal Gelirler / Giderler (Çeyrek) (Mln TL)  \
0                                           -9179.00
1                                            3141.00
2                                           -9041.00
3                                           -6195.00
4                                           -5714.00

  Net Finansal Gelirler / Giderler (Yıllıklandırılmış) (Mln TL)  \
0                                          -21274.00
1                                          -17809.00
2                                          -30279.00
3                                          -18691.00
4                                          -15806.00

  Net Kâr Çeyrek (Mln TL) Net Kâr (Yıllıklandırılmış) (Mln TL)  \
0                -1818.00                             104629.0
1                24512.00                             113378.0
2                51540.00                             182366.0
3                30395.00                             182157.0
4                 6931.00                             165516.0

   Toplam Borçlar (Mln TL)  Net Borç (Mln TL) Net İşletme Sermayesi (Mln TL)  \
0                 817510.0           328773.0                      -36032.00
1                 719594.0           275917.0                      -15363.00
2                 734978.0           282195.0                      -27423.00
3                 676076.0           235211.0                      -54033.00
4                 650455.0           248478.0                      -52253.00

   Özkaynaklar (Mln TL)  Toplam Aktifler (Mln TL) Hisse Adı
0              717346.0                 1534946.0     THYAO
1              679887.0                 1399606.0     THYAO
2              618586.0                 1353669.0     THYAO
3              557648.0                 1233843.0     THYAO
4              515404.0                 1165976.0     THYAO
GARAN finansalları:      Tarih  Takipteki Krediler  \
0  2025/03            45185.10
1  2024/12            35056.40
2  2024/09            31445.23
3  2024/06            24994.35
4  2024/03            23057.59

   Net Ücret ve Komisyon Gelirleri (Çeyrek) (Mln TL)  Krediler Büyüme (%)  \
0                                           29708.64                40.17
1                                           28496.58                47.80
2                                           25393.25                49.76
3                                           21502.08                49.87
4                                           18732.58                67.71

   Mevduat Büyüme (%)  Net Faiz Geliri Çeyrek (Mln TL)  \
0               46.01                         30427.35
1               31.63                         29611.66
2               38.69                         24880.22
3               31.33                         26195.33
4               65.61                         19662.04

   Yıllıklandırılmış Net Kâr (Mln TL)  Yıllıklanmış Faiz Gelirleri (Mln TL)  \
0                            95142.85                             563954.42
1                            92174.99                             500033.82
2                            96688.22                             432072.20
3                            97965.53                             352391.82
4                            93913.14                             277096.89

   Krediler (Mln TL)  Mevduatlar (Mln TL)  Özsermaye (Mln TL)  \
0         1644349.84           2198631.48           339526.88
1         1506148.86           1821373.26           329926.32
2         1380730.65           1735834.22           302647.61
3         1258646.78           1601676.54           279319.08
4         1173142.62           1505820.73           255334.65

   Net Kar Çeyrek (Mln TL) Hisse Adı
0                 25284.35     GARAN
1                 25241.22     GARAN
2                 22094.97     GARAN
3                 22522.31     GARAN
4                 22316.49     GARAN

In [22]:
from isyatirimhisse import fetch_stock_data, fetch_index_data, fetch_financials

df = fetch_financials(
    symbols="THYAO",
    start_year=2025,
    end_year=2025,
    exchange="TRY",
    financial_group='1',
    save_to_excel=False
)
df

,FINANCIAL_ITEM_CODE,FINANCIAL_ITEM_NAME_TR,FINANCIAL_ITEM_NAME_EN,2025/3,2025/6,SYMBOL
0,1A,Dönen Varlıklar,CURRENT ASSETS,352676000000,397076000000,THYAO
1,1AA,Nakit ve Nakit Benzerleri,Cash and Cash Equivalents,88821000000,98791000000,THYAO
2,1AB,Finansal Yatırımlar,Short-Term Financial Investments,120076000000,150560000000,THYAO
3,1AC,Ticari Alacaklar,Short-Term Trade Receivables,40800000000,40762000000,THYAO
4,1AD,Finans Sektörü Faaliyetlerinden Alacaklar,Short-Term Receivables from Financial Operations,0,0,THYAO
...,...,...,...,...,...,...
142,4CBH,Diğer Nakit Girişi/Çıkışı,Other Cash Inflow/Outflow,0,0,THYAO
143,4CBI,Nakit ve Benzerlerindeki Değişim,Change in Cash & Cash Equivalents,-8493000000,2626000000,THYAO
144,4CBJ,Diğer Nakit ve Nakit Benzerlerindeki Artış,Other Cash & Cash Equivalents Change,0,0,THYAO
145,4CBK,Dönem Başı Nakit Değerler,Cash at the beginning of the Quarter,90164000000,90164000000,THYAO
146,4CBL,Dönem Sonu Nakit,Cash at the End of the Quarter,81671000000,92790000000,THYAO

In [1]:
import pandas as pd
import numpy as np
import sqlite3
from isyatirimhisse import fetch_financials

conn = sqlite3.connect("C:/Users/KULLANICI/Desktop/portfolio-backtest-project/data/database.db")

ticker_dict = {"THYAO":1,"BIMAS":2}

df = fetch_financials(
    symbols=list(ticker_dict.keys()),
    start_year=2025,
    end_year=2025,
    exchange="TRY",
    financial_group='1',
    save_to_excel=False
)

df.drop(['FINANCIAL_ITEM_NAME_TR',"FINANCIAL_ITEM_CODE"], axis=1, inplace=True)  

df_melted = df.melt(
    id_vars=['FINANCIAL_ITEM_NAME_EN', 'SYMBOL'],
    var_name='Period',
    value_name='Value'
)

df_melted['Value'] = pd.to_numeric(df_melted['Value'], errors='coerce')

df_pivoted = df_melted.pivot_table(
    index=['SYMBOL', 'Period'],
    columns='FINANCIAL_ITEM_NAME_EN',
    values='Value'
).reset_index()
df_pivoted.columns.name = None
df_pivoted.columns = df_pivoted.columns.str.lower().str.replace(" ","_")
df_pivoted = df_pivoted.rename(columns={'net_sales': 'revenue',"gross_profit_(loss)": "gross_profit","operating_profits":"operating_profit","net_profit_after_taxes":"net_income","long_term_liabilities":"long_term_debt","short_term_liabilities":"short_term_debt","shareholders_equity":"equity"})
df_pivoted['ebitda'] = df_pivoted['operating_profit'] + df_pivoted['depreciation_&_amortization']
df_pivoted['fixed_assets'] = df_pivoted['total_assets'] - df_pivoted['current_assets']
df_pivoted['gross_debt'] = df_pivoted['short-term_financial_loans'] + df_pivoted['long-term_financial_loans']
df_pivoted['net_debt'] = df_pivoted['gross_debt'] - df_pivoted["cash\xa0and\xa0cash\xa0equivalents"]
df_pivoted['company_id'] = df_pivoted['symbol'].map(ticker_dict)
df_pivoted["date_of_publish"] = np.nan

df_pivoted = df_pivoted[['company_id',"period","date_of_publish","revenue","gross_profit","operating_profit","ebitda","net_income","current_assets","fixed_assets","long_term_debt","short_term_debt","gross_debt","net_debt","equity"]]

df_pivoted.to_sql('financial', conn, if_exists='append', index=False)
conn.close()

In [2]:
df_pivoted

,company_id,period,date_of_publish,revenue,gross_profit,operating_profit,ebitda,net_income,current_assets,fixed_assets,long_term_debt,short_term_debt,gross_debt,net_debt,equity
0,2,2025/3,NaN,1.477227e+11,2.585878e+10,-1.297669e+09,4.883661e+09,2.710405e+09,1.052041e+11,1.815128e+11,4.924420e+10,1.044967e+11,4.209025e+10,3.413588e+10,1.329760e+11
1,2,2025/6,NaN,3.098349e+11,5.889611e+10,2.401768e+09,1.471529e+10,5.553111e+09,9.922073e+10,1.962433e+11,5.409232e+10,1.046679e+11,4.646131e+10,4.354015e+10,1.367039e+11
2,1,2025/3,NaN,1.767120e+11,1.173100e+10,-2.879000e+09,1.753400e+10,-1.854000e+09,3.526760e+11,1.182270e+12,4.244820e+11,3.930280e+11,5.376700e+11,4.488490e+11,7.174360e+11
3,1,2025/6,NaN,4.080360e+11,5.614600e+10,2.452900e+10,6.748200e+10,2.493500e+10,3.970760e+11,1.255513e+12,4.688030e+11,4.316660e+11,5.845920e+11,4.858010e+11,7.521200e+11